
record(longin, "$(P)$(Q)$(NAME):RAW") {
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT), $(ADDR), 5.0) FINS_DM_READ")
    field(SCAN, "2 second")
    field(FLNK, "$(P)$(Q)$(NAME)")
}

record(mbbiDirect, "$(P)$(Q)$(NAME)")
{
    field(DESC, "$(DESC)")
    field(DTYP, "Soft Channel")
    field(INP,  "$(P)$(Q)$(NAME):RAW CP MS")
    field(SIML, "$(P)$(Q)SIM")
    field(SIOL, "$(P)$(Q)SIM:$(NAME)")
}


### Simulation Records ###

record(mbbiDirect, "$(P)$(Q)SIM:$(NAME)")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
    field(VAL, "1")
}
