record(bo, "$(P)$(Q)DISABLE")
{
    field(DESC, "Disable comms")
    field(PINI, "YES")
    field(VAL, "$(DISABLE=0)")
    field(OMSL, "supervisory")
    field(ZNAM, "COMMS ENABLED")
    field(ONAM, "COMMS DISABLED")
}

record(bo, "$(P)$(Q)SIM")
{
	field(DESC, "Enables recsim mode")
	field(DTYP, "Soft Channel")
	field(SCAN, "Passive")
	field(ZNAM, "NO")
    field(ONAM, "YES")
	field(VAL, "$(RECSIM=0)")	
}

record(longin, "$(P)$(Q)$(PV_NAME)")
{
	field(DESC, "$(DESCRIPTION)")
	field(DTYP, "asynInt32")
	field(INP,  "@asyn(PLC, $(MEMORY_ADDRESS), 5.0) FINS_DM_READ")
	field(SCAN, ".5 second")

	field(SDIS, "$(P)DISABLE")
    field(SIML, "$(P)$(Q)SIM")
    field(SIOL, "$(P)$(Q)SIM:$(PV_NAME)")
}

### SIMULATION RECORDS ###

record(longin, "$(P)$(Q)SIM:$(PV_NAME)")
{
	field(DTYP, "Soft Channel")
	field(SCAN, "Passive")
}
