
record(bi, "$(P)$(Q)$(PV_NAME):ALARM")
{
	field(DESC, "$(DESCRIPTION) alarm")
	field(INP, "$(P)$(Q)LIQUEFIER:_ALARM$(ALARM_NUM).B$(BIT_NUM) CP MS")

	field(ZNAM, "OK")
	field(ONAM, "IN ALARM")

	info(INTEREST, "HIGH")
    info(archive, "10 VAL")
}
