
record(bo, "$(P)$(Q)DISABLE")
{
    field(DESC, "Disable comms")
    field(PINI, "YES")
    field(VAL, "$(DISABLE=0)")
    field(OMSL, "supervisory")
    field(ZNAM, "COMMS ENABLED")
    field(ONAM, "COMMS DISABLED")
}

record(bo, "$(P)$(Q)SIM")
{
	field(DESC, "Enables recsim mode")
	field(DTYP, "Soft Channel")
	field(SCAN, "Passive")
	field(ZNAM, "NO")
    field(ONAM, "YES")
	field(VAL, "$(RECSIM=0)")	
}

# the heartbeat is not in the substitutions file since unlike the other PVs, 
# it needs a 0.5 seconds scan rate
record(longin, "$(P)$(Q)HEARTBEAT")
{
	field(DESC, "Hearbeat to show PLC is online")
	field(DTYP, "asynInt32")
	field(INP,  "@asyn(PLC, 19500, 5.0) FINS_DM_READ")
	field(SCAN, ".5 second")

	field(SDIS, "$(P)DISABLE")
    field(SIML, "$(P)$(Q)SIM")
    field(SIOL, "$(P)$(Q)SIM:HEARTBEAT")

    info(INTEREST, "HIGH")
    info(alarm, "FINS")
}

# the following mbbi records are not in the substitution file since they either have 
# unique sets of values, or because having a template for only two records does not 
# make sense

record(mbbi, "$(P)$(Q)CNTRL_VALVE_120:POSITION")
{
	field(DESC, "Control valve 120 position")
	field(DTYP, "asynInt32")
	field(INP, "@asyn(PLC, 19968, 5.0) FINS_DM_READ")
	field(SCAN, "$(SCAN)")

	field(ONVL, "1")
	field(TWVL, "2")
	field(THVL, "3")

	field(ONST, "Opening")
	field(TWST, "Closing")
	field(THST, "No movement")

	field(SDIS, "$(P)DISABLE")
    field(SIML, "$(P)$(Q)SIM")
    field(SIOL, "$(P)$(Q)SIM:CNTRL_VALVE_120:POSITION")

    info(INTEREST, "HIGH")
    info(archive, "10 VAL")
}

record(mbbi, "$(P)$(Q)CNTRL_VALVE_121:POSITION")
{
	field(DESC, "Control valve 121 position")
	field(DTYP, "asynInt32")
	field(INP, "@asyn(PLC, 19970, 5.0) FINS_DM_READ")
	field(SCAN, "$(SCAN)")

	field(ONVL, "1")
	field(TWVL, "2")
	field(THVL, "3")

	field(ONST, "Opening")
	field(TWST, "Closing")
	field(THST, "No movement")

	field(SDIS, "$(P)DISABLE")
    field(SIML, "$(P)$(Q)SIM")
    field(SIOL, "$(P)$(Q)SIM:CNTRL_VALVE_121:POSITION")

    info(INTEREST, "HIGH")
    info(archive, "10 VAL")
}

record(mbbi, "$(P)$(Q)PURIFIER:STATUS")
{
	field(DESC, "Purifier status")
	field(DTYP, "asynInt32")
	field(INP, "@asyn(PLC, 19978, 5.0) FINS_DM_READ")
	field(SCAN, "$(SCAN)")

	field(ONVL, "1")
	field(TWVL, "2")
	field(THVL, "3")
	field(FRVL, "4")
	field(FVVL, "5")
	field(SXVL, "6")
	field(SVVL, "7")

	field(ONST, "OFF")
	field(TWST, "FLUSHING")
	field(THST, "COOLDOWN 1")
	field(FRST, "COOLDOWN 2")
	field(FVST, "CLEANING MODE")
	field(SXST, "REGENERATION")
	field(SVST, "STANDBY")

	field(SDIS, "$(P)DISABLE")
    field(SIML, "$(P)$(Q)SIM")
    field(SIOL, "$(P)$(Q)SIM:PURIFIER:STATUS")

    info(INTEREST, "HIGH")
    info(archive, "10 VAL")
}

record(mbbi, "$(P)$(Q)CMPRSSR:STATUS")
{
	field(DESC, "Compressor status")
	field(DTYP, "asynInt32")
	field(INP, "@asyn(PLC, 19980, 5.0) FINS_DM_READ")
	field(SCAN, "$(SCAN)")

	field(ONVL, "1")
	field(TWVL, "2")
	field(THVL, "3")
	
	# compressor nor running, interlocks not clear
	field(ONST, "NOT READY TO START")

	# compressor not running, but interlocks clear, compressor ready to start
	field(TWST, "READY TO START")

	# compressor running
	field(THST, "RUNNING")

	field(SDIS, "$(P)DISABLE")
    field(SIML, "$(P)$(Q)SIM")
    field(SIOL, "$(P)$(Q)SIM:CMPRSSR:STATUS")

    info(INTEREST, "HIGH")
    info(archive, "10 VAL")
}

record(mbbi, "$(P)$(Q)COLDBOX:STATUS")
{
	field(DESC, "Coldbox status")
	field(DTYP, "asynInt32")
	field(INP, "@asyn(PLC, 19981, 5.0) FINS_DM_READ")
	field(SCAN, "$(SCAN)")

	field(ONVL, "1")
	field(TWVL, "2")
	field(THVL, "3")
	
	field(ONST, "IN COOLDOWN")
	field(TWST, "RUNNING")
	field(THST, "NOT RUNNING")

	field(SDIS, "$(P)DISABLE")
    field(SIML, "$(P)$(Q)SIM")
    field(SIOL, "$(P)$(Q)SIM:COLDBOX:STATUS")

    info(INTEREST, "HIGH")
    info(archive, "10 VAL")
}

### SIMULATION RECORDS ###

record(longin, "$(P)$(Q)SIM:HEARTBEAT")
{
	field(DTYP, "Soft Channel")
	field(SCAN, "Passive")
}

record(mbbi, "$(P)$(Q)SIM:CNTRL_VALVE_120:POSITION")
{
	field(DTYP, "Soft Channel")
	field(SCAN, "Passive")
}

record(mbbi, "$(P)$(Q)SIM:CNTRL_VALVE_121:POSITION")
{
	field(DTYP, "Soft Channel")
	field(SCAN, "Passive")
}

record(mbbi, "$(P)$(Q)SIM:PURIFIER:STATUS")
{
	field(DTYP, "Soft Channel")
	field(SCAN, "Passive")
}

record(mbbi, "$(P)$(Q)SIM:CMPRSSR:STATUS")
{
	field(DTYP, "Soft Channel")
	field(SCAN, "Passive")
}

record(mbbi, "$(P)$(Q)SIM:COLDBOX:STATUS")
{
	field(DTYP, "Soft Channel")
	field(SCAN, "Passive")
}
