
record(ai, "$(P)$(Q)$(NAME):RAW")
{
	field(DTYP, "asynInt32")
	field(INP,  "@asyn(PLC, $(ADDR), $(TIMEOUT=5.0)) FINS_DM_READ")
	field(SCAN, "1 second")
    field(HOPR, "6000")
    field(LOPR, "0")
    field(FLNK, "$(P)$(Q)$(NAME)")
    field(SIML, "$(P)$(Q)SIM")
    field(SIOL, "$(P)$(Q)SIM:$(NAME):RAW")
}

record(calc, "$(P)$(Q)$(NAME)")
{
    field(DESC, "$(NAME) Flow")
	field(INPA, "$(P)$(Q)$(NAME):RAW")
    field(EGU, "L/minute")
    field(HOPR, "25")
    field(LOPR, "0")
    field(CALC, "A * 25 / 6000")
    field(ASG, "READONLY")
	info(archive, "VAL")
    info(INTEREST, "HIGH")
}

### SIMULATION RECORDS ###

record(ai, "$(P)$(Q)SIM:$(NAME):RAW")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
}

