## read exponent, mantissa, exponent and check exponent still same
## if not, we had a rollover from e.g. 9e4 to 1e5 during read and may be inconsistent 

record(longin, "$(P)$(Q)$(NAME):$(GAUGE):MEAS1EXP")
{
	field(DTYP, "asynInt32")
	field(SCAN, "10 second")
	field(INP,  "@asyn($(PORT), $(ADDREXP), 5.0) FINS_DM_READ")
	field(FLNK, "$(P)$(Q)$(NAME):$(GAUGE):MEAS1")
	field(SIML, "$(P)$(Q)SIM")
	field(SIOL, "$(P)$(Q)$(NAME):$(GAUGE):MEAS1EXP:SIM")
}

## number in range 10 to 99 corresponding to 1.0 to 9.9
record(longin, "$(P)$(Q)$(NAME):$(GAUGE):MEAS1")
{
	field(DTYP, "asynInt32")
	field(INP,  "@asyn($(PORT), $(ADDRP), 5.0) FINS_DM_READ")
	field(FLNK, "$(P)$(Q)$(NAME):$(GAUGE):MEAS2EXP")
	field(SIML, "$(P)$(Q)SIM")
	field(SIOL, "$(P)$(Q)$(NAME):$(GAUGE):MEAS1:SIM")
}

record(longin, "$(P)$(Q)$(NAME):$(GAUGE):MEAS2EXP")
{
	field(DTYP, "asynInt32")
	field(INP,  "@asyn($(PORT), $(ADDREXP), 5.0) FINS_DM_READ")
	field(FLNK, "$(P)$(Q)$(NAME):$(GAUGE)CHECK")
	field(SIML, "$(P)$(Q)SIM")
	field(SIOL, "$(P)$(Q)$(NAME):$(GAUGE):MEAS2EXP:SIM")
}

## if exponents haven't changed, counter did not rollover 
## during reads so value should be OK
## (A-(A>32767?65536:0)) is to convert between signed and two's complement
record(calcout, "$(P)$(Q)$(NAME):$(GAUGE)CHECK")
{
	field(DESC, "Check Field")
	field(INPA, "$(P)$(Q)$(NAME):$(GAUGE):MEAS1EXP")
	field(INPB, "$(P)$(Q)$(NAME):$(GAUGE):MEAS1")
	field(INPC, "$(P)$(Q)$(NAME):$(GAUGE):MEAS2EXP")
	field(EGU, "mbar")
	field(CALC, "(A=C)?(B/10*10^(A-(A>32767?65536:0))):0")
	field(DOPT, "Use CALC")
	field(OOPT, "When Non-zero")
	field(OUT,"$(P)$(Q)$(NAME):$(GAUGE) PP")
}

record(ai, "$(P)$(Q)$(NAME):$(GAUGE)")
{
    field(DESC, "Pressure")
	field(EGU, "mbar")
	field(PREC, 3)
	info(INTEREST, "HIGH")
	info(archive, "VAL")
	alias("$(P)$(Q)$(PVALIAS)")
}

### SIMULATION RECORDS ###


record(longin, "$(P)$(Q)$(NAME):$(GAUGE):MEAS1:SIM")
{
	field(SCAN, "Passive")
	field(DTYP, "Soft Channel")
	field(VAL, "12")
}
record(longin, "$(P)$(Q)$(NAME):$(GAUGE):MEAS1EXP:SIM")
{
	field(SCAN, "Passive")
	field(DTYP, "Soft Channel")
	field(VAL, "65532")
}
record(longin, "$(P)$(Q)$(NAME):$(GAUGE):MEAS2:SIM")
{
	field(SCAN, "Passive")
	field(DTYP, "Soft Channel")
	field(VAL, "12")
}
record(longin, "$(P)$(Q)$(NAME):$(GAUGE):MEAS2EXP:SIM")
{
	field(SCAN, "Passive")
	field(DTYP, "Soft Channel")
	field(VAL, "65532")
}

