record(bo, "$(P)$(Q)SIM")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
    field(ZNAM, "NO")
    field(ONAM, "YES")
    field(VAL, "$(RECSIM=0)")
}

record(bo, "$(P)$(Q)DISABLE") 
{
    field(DESC, "Disable comms")
    field(PINI, "YES")
    field(VAL, "$(DISABLE=0)")
    field(OMSL, "supervisory")
    field(ZNAM, "COMMS ENABLED")
    field(ONAM, "COMMS DISABLED")
}

record(ai, "$(P)$(Q)WATCHDOG:RAW")
{
    field(DESC, "Watchdog counter from device")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn(PLC, 00000, $(TIMEOUT=5.0)) FINS_DM_READ")
    field(SCAN, "2 second")
    field(FLNK, "$(P)$(Q)WATCHDOG:STATUS")

    field(SIML, "$(P)$(Q)SIM")
    field(SIOL, "$(P)$(Q)SIM:WATCHDOG:STATUS CP MS")
}

record(calc, "$(P)$(Q)WATCHDOG:STATUS")
{
    field(INPA, "$(P)$(Q)WATCHDOG:RAW")
    field(INPB, "$(P)$(Q)WATCHDOG:STATUS.LA")
    field(CALC, "(B=A)?1:0")
    field(HIHI, "1")
    field(HHSV, "MAJOR")

}

### Simulation Records ###

record(ai, "$(P)$(Q)SIM:WATCHDOG:STATUS")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
}

