record(bo, "$(P)$(Q)SIM")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
    field(ZNAM, "NO")
    field(ONAM, "YES")
    field(VAL, "$(RECSIM=0)")
}

record(bo, "$(P)$(Q)DISABLE") 
{
    field(DESC, "Disable comms")
    field(PINI, "YES")
    field(VAL, "$(DISABLE=0)")
    field(OMSL, "supervisory")
    field(ZNAM, "COMMS ENABLED")
    field(ONAM, "COMMS DISABLED")
}

# Watchdog - the SANDALS PLC has a watchdog field which increments from 0-255 every second, and loops back to 0 after it hits 255.
# We can scan it every 2 seconds (nyquist frequency) to check it has changed. If not, put the status field in alarm as the PLC has
# either stopped communicating or has fallen out of run mode. 
record(ai, "$(P)$(Q)WATCHDOG:RAW")
{
    field(DESC, "Watchdog counter from device")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn(PLC, 00000, $(TIMEOUT=5.0)) FINS_DM_READ")
    field(SCAN, "2 second")
    field(FLNK, "$(P)$(Q)WATCHDOG:STATUS")

    field(SIML, "$(P)$(Q)SIM")
    field(SIOL, "$(P)$(Q)SIM:WATCHDOG:STATUS CP MS")
}

record(calc, "$(P)$(Q)WATCHDOG:STATUS")
{
    field(DESC, "Watchdog status")
    field(ASG, "READONLY")
    field(INPA, "$(P)$(Q)WATCHDOG:RAW")
    field(INPB, "$(P)$(Q)WATCHDOG:STATUS.LA")
    field(CALC, "(B=A)?1:0")
    field(HIHI, "1")
    field(HHSV, "MAJOR")
    info(INTEREST, "MEDIUM")
	info(archive, "VAL")
}

### Simulation Records ###

record(ai, "$(P)$(Q)SIM:WATCHDOG:STATUS")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
}

