# $(ADDR).$(BIT0)	           Pump $(PUMP_NUM) status            V$(VALVE_NUM) open indication
# $(ADDR).$(BIT1)	           Pump $(PUMP_NUM) status            V$(VALVE_NUM) error indication

# FULL_PREFIX = Instrument and IOC prefix

record(bi, "$(FULL_PREFIX)PUMP$(PUMP_NUM)_STAT:V$(VALVE_NUM)_OPEN") {
	field(DESC, "Pump $(PUMP_NUM) V$(VALVE_NUM) open")
	field(DTYP, "asynInt32")
	field(INP,  "@asyn(PLC, $(ADDR), 5.0) $(BIT0)")
	field(SCAN, "1 second")
	field(SIML, "$(FULL_PREFIX)SIM")
    field(SIOL, "$(FULL_PREFIX)SIM:PUMP$(PUMP_NUM)_STAT:V$(VALVE_NUM)_OPEN")
    field(SDIS, "$(FULL_PREFIX)DISABLE")
    info(INTEREST, "HIGH")
}

record(bi, "$(FULL_PREFIX)PUMP$(PUMP_NUM)_STAT:V$(VALVE_NUM)_ERROR") {
	field(DESC, "Pump $(PUMP_NUM) V$(VALVE_NUM) error")
	field(DTYP, "asynInt32")
	field(INP,  "@asyn(PLC, $(ADDR), 5.0) $(BIT1)")
	field(SCAN, "1 second")
	field(SIML, "$(FULL_PREFIX)SIM")
    field(SIOL, "$(FULL_PREFIX)SIM:PUMP$(PUMP_NUM)_STAT:V$(VALVE_NUM)_ERROR")
    field(SDIS, "$(FULL_PREFIX)DISABLE")
    info(INTEREST, "HIGH")
}

### Simulation Records ###

record(bi, "$(FULL_PREFIX)SIM:PUMP$(PUMP_NUM)_STAT:V$(VALVE_NUM)_OPEN")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
}

record(bi, "$(FULL_PREFIX)SIM:PUMP$(PUMP_NUM)_STAT:V$(VALVE_NUM)_ERROR")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
}