## Distances (intervals) between baffles and detectors

record(calc, "$(FULL_PREFIX)$(ASHORT)$(BSHORT):INTERVAL"){
    field(DESC, "Dist between $(ASHORT) and $(BSHORT)")
    field(SCAN, ".1 second")
    field(EGU, "mm")
    field(INPA, "$(P)MOT:$(APV)")
    field(INPB, "$(P)MOT:$(BPV)")
    field(CALC, "b-a")
    field(LOLO, "$(INTERVAL_MAJOR_WARNING)")
    field(LLSV, "MAJOR")
    field(LOW, "$(INTERVAL_MINOR_WARNING)")
    field(LSV, "MINOR")
}

