record(calcout, "$(FULL_PREFIX)INHIBIT_FRONTBEAMSTOP") {
    field(DESC, "Inhibit fbs move if -2 > det rot < 2")
    field(INPA, "$(P)MOT:FRONTDETROT CP")
    field(INPB, "$(P)MOT:FRONTDETROT:SP CP")
    field(CALC, "A < -2 || A > 2 || B < -2 || B > 2")
    field(OUT, "$(FULL_PREFIX)_INHIBIT_FRONTBEAMSTOP PP MS")
}

record(dfanout, "$(FULL_PREFIX)_INHIBIT_FRONTBEAMSTOP") {
    field(DESC, "Stop and inhibit fbs movement")
    field(DOL, "$(FULL_PREFIX)INHIBIT_FRONTBEAMSTOP")
    field(OUTA, "$(P)MOT:FRONTBEAMSTOP:MTR.STOP PP")
    field(OUTB, "$(P)MOT:FRONTBEAMSTOP:SP.DISP")
    field(OUTC, "$(P)MOT:FRONTBEAMSTOP.DISP")
    field(SELM, "All")
}
