record(longin, "$(P)$(Q)ON")
{
	field(DTYP, "asynInt32")
	field(INP,  "@asyn(PLC, 103, $(TIMEOUT=5.0)) FINS_DM_READ_B2")
	field(SCAN, "1 second")
    field(SIML, "$(P)$(Q)SIM")
    field(SIOL, "$(P)$(Q)SIM:ON")
}

record(longin, "$(P)$(Q)PPSKEY")
{
	field(DTYP, "asynInt32")
	field(INP,  "@asyn(PLC, 103, $(TIMEOUT=5.0)) FINS_DM_READ_B3")
	field(SCAN, "1 second")
    field(SIML, "$(P)$(Q)SIM")
    field(SIOL, "$(P)$(Q)SIM:PPSKEY")
}

record(longin, "$(P)$(Q)GDVAC")
{
	field(DTYP, "asynInt32")
	field(INP,  "@asyn(PLC, 103, $(TIMEOUT=5.0)) FINS_DM_READ_B4")
	field(SCAN, "1 second")
    field(SIML, "$(P)$(Q)SIM")
    field(SIOL, "$(P)$(Q)SIM:GDVAC")
}

record(longin, "$(P)$(Q)MINSEC")
{
	field(DTYP, "asynInt32")
	field(INP,  "@asyn(PLC, 105, $(TIMEOUT=5.0)) FINS_WR_READ")
	field(SCAN, "1 second")
    field(SIML, "$(P)$(Q)SIM")
    field(SIOL, "$(P)$(Q)SIM:MINSEC")
}

record(bo, "$(P)$(Q)START")
{
	field(DTYP, "asynInt32")
	field(ZNAM, "...")
    field(ONAM, "START")
	field(OUT,  "@asyn(PLC, 103, $(TIMEOUT=5.0)) FINS_DM_WRITE_B0")
	field(FLNK, "$(P)$(Q)START:RESET")
	field(SIML, "$(P)$(Q)SIM")
    field(SIOL, "$(P)$(Q)SIM:START")
}

record(seq, "$(P)$(Q)START:RESET")
{
	field(DOL1, "0")
	field(DLY1, "0.5")
	field(LNK1, "$(P)$(Q)START PP")
}

record(bo, "$(P)$(Q)STOP")
{
	field(DTYP, "asynInt32")
	field(ZNAM, "...")
    field(ONAM, "STOP")
	field(OUT,  "@asyn(PLC, 103, $(TIMEOUT=5.0)) FINS_DM_WRITE_B1")
	field(FLNK, "$(P)$(Q)STOP:RESET")
	field(SIML, "$(P)$(Q)SIM")
    field(SIOL, "$(P)$(Q)SIM:STOP")
}

record(seq, "$(P)$(Q)STOP:RESET")
{
	field(DOL1, "0")
	field(DLY1, "0.5")
	field(LNK1, "$(P)$(Q)STOP PP")
}

### SIMULATION RECORDS ###

record(bo, "$(P)$(Q)SIM")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
    field(ZNAM, "NO")
    field(ONAM, "YES")
}

record(bi, "$(P)$(Q)SIM:ON")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
	field(VAL, "1")
}

record(bi, "$(P)$(Q)SIM:PPSKEY")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
	field(VAL, "1")
}

record(bi, "$(P)$(Q)SIM:GDVAC")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
	field(VAL, "1")
}

record(bi, "$(P)$(Q)SIM:MINSEC")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
}

record(bi, "$(P)$(Q)SIM:START")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
}

record(bi, "$(P)$(Q)SIM:STOP")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
}
