record(bo, "$(FULL_PREFIX)$(NAME):SP")
{
    field(DESC, "$(DESC)")
    field(DTYP, "asynInt32")
    field(ZNAM, "$(ZNAM=...)")
    field(ONAM, "$(ONAM)")
    field(OUT,  "@asyn($(PORT=PLC), $(ADDR), 5.0) FINS_WR_WRITE_B$(BIT)")
    field(SIML, "$(FULL_PREFIX)SIM")
    field(SIOL, "$(FULL_PREFIX)SIM:$(NAME):SP")
    field(SDIS, "$(FULL_PREFIX)DISABLE")
}

record(bo, "$(FULL_PREFIX)SIM:$(NAME):SP")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
}

