
record(bi, "$(P)$(Q)$(NAME)") {
	field(DESC, "$(DESC)")
	field(DTYP, "asynInt32")
	field(INP,  "@asyn(PLC, $(ADDRP), $(TIMEOUT=5.0)) $(BIT)")
	field(SCAN, "2 second")
	field(SIML, "$(P)$(Q)SIM")
    field(SIOL, "$(P)$(Q)SIM:$(NAME)")
    field(SDIS, "$(P)$(Q)DISABLE")
    info(INTEREST, "HIGH")
}

### Simulation Records ###

record(bi, "$(P)$(Q)SIM:$(NAME)")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
}
