
# Gauge $(GAUGE)

record(longin, "$(P)$(Q)GAUGE:$(GAUGE):MEAS1EXP")
{
	field(DTYP, "asynInt32")
	field(SCAN, "10 second")
	field(INP,  "@asyn(PLC, $(ADDREXP), 5.0) FINS_DM_READ")
	field(FLNK, "$(P)$(Q)GAUGE:$(GAUGE):MEAS1")
	field(SIML, "$(P)$(Q)SIM")
	field(SIOL, "$(P)$(Q)SIM:GAUGE:$(GAUGE):MEAS1EXP")
	field(SDIS, "$(P)$(Q)DISABLE")
}


record(longin, "$(P)$(Q)GAUGE:$(GAUGE):MEAS1")
{
	field(DTYP, "asynInt32")
	field(INP,  "@asyn(PLC, $(ADDRP), 5.0) FINS_DM_READ")
	field(FLNK, "$(P)$(Q)GAUGE:$(GAUGE):MEAS2EXP")
    field(SIOL, "$(P)$(Q)SIM:GAUGE:$(GAUGE):MEAS1")
	field(SIML, "$(P)$(Q)SIM")
    field(SDIS, "$(P)$(Q)DISABLE")
}

record(longin, "$(P)$(Q)GAUGE:$(GAUGE):MEAS2EXP")
{
	field(DTYP, "asynInt32")
	field(INP,  "@asyn(PLC, $(ADDREXP), 5.0) FINS_DM_READ")
	field(FLNK, "$(P)$(Q)GAUGE:$(GAUGE):CHECK")
	field(SIML, "$(P)$(Q)SIM")
    field(SIOL, "$(P)$(Q)SIM:GAUGE:$(GAUGE):MEAS2EXP")
	field(SDIS, "$(P)$(Q)DISABLE")
}


## if exponents haven't changed, counter did not rollover 
## during reads so value should be OK
## (A-(A>32767?65536:0)) is to convert between signed and two's complement
record(calcout, "$(P)$(Q)GAUGE:$(GAUGE):CHECK")
{
	field(DESC, "Check Field")
	field(INPA, "$(P)$(Q)GAUGE:$(GAUGE):MEAS1EXP")
	field(INPB, "$(P)$(Q)GAUGE:$(GAUGE):MEAS1")
	field(INPC, "$(P)$(Q)GAUGE:$(GAUGE):MEAS2EXP")
	field(EGU, "mbar")
	field(CALC, "(A=C)?(B/10*10^(A-(A>32767?65536:0))):0")
	field(DOPT, "Use CALC")
	field(OOPT, "When Non-zero")
	field(OUT,"$(P)$(Q)GAUGE:$(GAUGE) PP")
}

record(ai, "$(P)$(Q)GAUGE:$(GAUGE)")
{
    field(DESC, "Pressure")
	field(EGU, "mbar")
	field(PREC, 3)
	info(INTEREST, "HIGH")
	info(archive, "VAL")
}

### SIMULATION RECORDS ###

record(longin, "$(P)$(Q)SIM:GAUGE:$(GAUGE):MEAS1EXP")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
}


record(longin, "$(P)$(Q)SIM:GAUGE:$(GAUGE):MEAS2EXP")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
}

record(longin, "$(P)$(Q)SIM:GAUGE:$(GAUGE):MEAS1")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
}

