<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>TTI 355P power supply</ioc_desc>
<macros>
<macro name="PORT" pattern="^COM[0-9]+$" description="Serial COM Port" hasDefault="NO" />
<macro name="AMPSTOGAUSS" pattern="^.*$" description="Amps to Gauss conversion factor, or empty to disable field calibration" hasDefault="YES", defaultValue="" />
<macro name="MAXFIELD" pattern="^-?[0-9]+\.?[0-9]*$" description="Maximum field in Gauss for this magnet" hasDefault="YES", defaultValue="1000000000" />
<macro name="DISABLE_AUTOONOFF" pattern="^(0|1)$" description="1 to disable auto on/off related functionality, 0 to enable it" hasDefault="YES", defaultValue="1" />
</macros>
</config_part>
</ioc_config>
