<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>A NGPS power supply unit</ioc_desc>
<macros>
<macro name="IPADDR" pattern="^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$" description="IP Address to connect to" />
<macro name="IPPORT" pattern="^[0-9]+$" description="IP Port to connect to" />
</macros>
<pvsets>
</pvsets>
</config_part>
</ioc_config>
