<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>McLennan motor controller</ioc_desc>
<ioc_details>McLennan Motor Details</ioc_details>
<macros>

<macro name="MTRCTRL" pattern="^[0-9]{1,2}$" description="Controller number used in motor address assignment" hasDefault="NO" />
<macro name="PORT" pattern="^COM[0-9]+$" description="Serial COM port" hasDefault="NO" />
<macro name="BAUD" pattern="^[0-9]+$" description="Baud rate (default: 9600)" defaultValue="9600" hasDefault="YES" />
<macro name="BITS" pattern="^[7-8]$" description="Data bits (default: 7)" defaultValue="7" hasDefault="YES" />
<macro name="PARITY" pattern="^(even|odd|none)$" description="Parity (default: even)" defaultValue="even" hasDefault="YES" />
<macro name="STOP" pattern="^[0-2]$" description="Stop bits (default: 1)" defaultValue="1" hasDefault="YES" />

<macro name="AXIS1" pattern="^(yes|no)$" description="Motor is attached to axis 1 (default: no)" defaultValue="no" hasDefault="YES" />
<macro name="AXIS2" pattern="^(yes|no)$" description="Motor is attached to axis 2 (default: no)" defaultValue="no" hasDefault="YES" />
<macro name="AXIS3" pattern="^(yes|no)$" description="Motor is attached to axis 3 (default: no)" defaultValue="no" hasDefault="YES" />
<macro name="AXIS4" pattern="^(yes|no)$" description="Motor is attached to axis 4 (default: no)" defaultValue="no" hasDefault="YES" />
<macro name="AXIS5" pattern="^(yes|no)$" description="Motor is attached to axis 5 (default: no)" defaultValue="no" hasDefault="YES" />
<macro name="AXIS6" pattern="^(yes|no)$" description="Motor is attached to axis 6 (default: no)" defaultValue="no" hasDefault="YES" />
<macro name="AXIS7" pattern="^(yes|no)$" description="Motor is attached to axis 7 (default: no)" defaultValue="no" hasDefault="YES" />
<macro name="AXIS8" pattern="^(yes|no)$" description="Motor is attached to axis 8 (default: no)" defaultValue="no" hasDefault="YES" />

<macro name="UNIT1" pattern="^[A-Za-z]*$" description="Units (default: mm)" defaultValue="mm" hasDefault="YES" />
<macro name="UNIT2" pattern="^[A-Za-z]*$" description="Units (default: mm)" defaultValue="mm" hasDefault="YES" />
<macro name="UNIT3" pattern="^[A-Za-z]*$" description="Units (default: mm)" defaultValue="mm" hasDefault="YES" />
<macro name="UNIT4" pattern="^[A-Za-z]*$" description="Units (default: mm)" defaultValue="mm" hasDefault="YES" />
<macro name="UNIT5" pattern="^[A-Za-z]*$" description="Units (default: mm)" defaultValue="mm" hasDefault="YES" />
<macro name="UNIT6" pattern="^[A-Za-z]*$" description="Units (default: mm)" defaultValue="mm" hasDefault="YES" />
<macro name="UNIT7" pattern="^[A-Za-z]*$" description="Units (default: mm)" defaultValue="mm" hasDefault="YES" />
<macro name="UNIT8" pattern="^[A-Za-z]*$" description="Units (default: mm)" defaultValue="mm" hasDefault="YES" />

<macro name="VELO1" pattern="^[0-9]*\.?[0-9]*$" description="Velocity, units/s, where length units are defined in the corresponding MSTP macro (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="VELO2" pattern="^[0-9]*\.?[0-9]*$" description="Velocity, units/s, where length units are defined in the corresponding MSTP macro (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="VELO3" pattern="^[0-9]*\.?[0-9]*$" description="Velocity, units/s, where length units are defined in the corresponding MSTP macro (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="VELO4" pattern="^[0-9]*\.?[0-9]*$" description="Velocity, units/s, where length units are defined in the corresponding MSTP macro (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="VELO5" pattern="^[0-9]*\.?[0-9]*$" description="Velocity, units/s, where length units are defined in the corresponding MSTP macro (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="VELO6" pattern="^[0-9]*\.?[0-9]*$" description="Velocity, units/s, where length units are defined in the corresponding MSTP macro (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="VELO7" pattern="^[0-9]*\.?[0-9]*$" description="Velocity, units/s, where length units are defined in the corresponding MSTP macro (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="VELO8" pattern="^[0-9]*\.?[0-9]*$" description="Velocity, units/s, where length units are defined in the corresponding MSTP macro (default: 1)" defaultValue="1" hasDefault="YES" />

<macro name="JVEL1" pattern="^[0-9]*\.?[0-9]*$" description="Jog velocity, units/s (default: VELO1/10)" defaultValue="VELO1/10" hasDefault="YES" />
<macro name="JVEL2" pattern="^[0-9]*\.?[0-9]*$" description="Jog velocity, units/s (default: VELO2/10)" defaultValue="VELO2/10" hasDefault="YES" />
<macro name="JVEL3" pattern="^[0-9]*\.?[0-9]*$" description="Jog velocity, units/s (default: VELO3/10)" defaultValue="VELO3/10" hasDefault="YES" />
<macro name="JVEL4" pattern="^[0-9]*\.?[0-9]*$" description="Jog velocity, units/s (default: VELO4/10)" defaultValue="VELO4/10" hasDefault="YES" />
<macro name="JVEL5" pattern="^[0-9]*\.?[0-9]*$" description="Jog velocity, units/s (default: VELO5/10)" defaultValue="VELO5/10" hasDefault="YES" />
<macro name="JVEL6" pattern="^[0-9]*\.?[0-9]*$" description="Jog velocity, units/s (default: VELO6/10)" defaultValue="VELO6/10" hasDefault="YES" />
<macro name="JVEL7" pattern="^[0-9]*\.?[0-9]*$" description="Jog velocity, units/s (default: VELO7/10)" defaultValue="VELO7/10" hasDefault="YES" />
<macro name="JVEL8" pattern="^[0-9]*\.?[0-9]*$" description="Jog velocity, units/s (default: VELO8/10)" defaultValue="VELO8/10" hasDefault="YES" />

<macro name="ACCL1" pattern="^[0-9]*\.?[0-9]*$" description="Seconds to max speed (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="ACCL2" pattern="^[0-9]*\.?[0-9]*$" description="Seconds to max speed (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="ACCL3" pattern="^[0-9]*\.?[0-9]*$" description="Seconds to max speed (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="ACCL4" pattern="^[0-9]*\.?[0-9]*$" description="Seconds to max speed (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="ACCL5" pattern="^[0-9]*\.?[0-9]*$" description="Seconds to max speed (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="ACCL6" pattern="^[0-9]*\.?[0-9]*$" description="Seconds to max speed (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="ACCL7" pattern="^[0-9]*\.?[0-9]*$" description="Seconds to max speed (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="ACCL8" pattern="^[0-9]*\.?[0-9]*$" description="Seconds to max speed (default: 1)" defaultValue="1" hasDefault="YES" />

<macro name="MSTP1" pattern="^[0-9]*\.?[0-9]*$" description="Motor resolution in steps/unit (default: 4000)" defaultValue="4000" hasDefault="YES" />
<macro name="MSTP2" pattern="^[0-9]*\.?[0-9]*$" description="Motor resolution in steps/unit (default: 4000)" defaultValue="4000" hasDefault="YES" />
<macro name="MSTP3" pattern="^[0-9]*\.?[0-9]*$" description="Motor resolution in steps/unit (default: 4000)" defaultValue="4000" hasDefault="YES" />
<macro name="MSTP4" pattern="^[0-9]*\.?[0-9]*$" description="Motor resolution in steps/unit (default: 4000)" defaultValue="4000" hasDefault="YES" />
<macro name="MSTP5" pattern="^[0-9]*\.?[0-9]*$" description="Motor resolution in steps/unit (default: 4000)" defaultValue="4000" hasDefault="YES" />
<macro name="MSTP6" pattern="^[0-9]*\.?[0-9]*$" description="Motor resolution in steps/unit (default: 4000)" defaultValue="4000" hasDefault="YES" />
<macro name="MSTP7" pattern="^[0-9]*\.?[0-9]*$" description="Motor resolution in steps/unit (default: 4000)" defaultValue="4000" hasDefault="YES" />
<macro name="MSTP8" pattern="^[0-9]*\.?[0-9]*$" description="Motor resolution in steps/unit (default: 4000)" defaultValue="4000" hasDefault="YES" />

<macro name="ERES1" pattern="^-?[0-9]+/[0-9]+$" description="Encoder ratio (default: 400/4096)" defaultValue="400/4096" hasDefault="YES" />
<macro name="ERES2" pattern="^-?[0-9]+/[0-9]+$" description="Encoder ratio (default: 400/4096)" defaultValue="400/4096" hasDefault="YES" />
<macro name="ERES3" pattern="^-?[0-9]+/[0-9]+$" description="Encoder ratio (default: 400/4096)" defaultValue="400/4096" hasDefault="YES" />
<macro name="ERES4" pattern="^-?[0-9]+/[0-9]+$" description="Encoder ratio (default: 400/4096)" defaultValue="400/4096" hasDefault="YES" />
<macro name="ERES5" pattern="^-?[0-9]+/[0-9]+$" description="Encoder ratio (default: 400/4096)" defaultValue="400/4096" hasDefault="YES" />
<macro name="ERES6" pattern="^-?[0-9]+/[0-9]+$" description="Encoder ratio (default: 400/4096)" defaultValue="400/4096" hasDefault="YES" />
<macro name="ERES7" pattern="^-?[0-9]+/[0-9]+$" description="Encoder ratio (default: 400/4096)" defaultValue="400/4096" hasDefault="YES" />
<macro name="ERES8" pattern="^-?[0-9]+/[0-9]+$" description="Encoder ratio (default: 400/4096)" defaultValue="400/4096" hasDefault="YES" />

<macro name="DHLM1" pattern="^-?[0-9]*\.?[0-9]*$" description="Position upper limit (default: 200)" defaultValue="200" hasDefault="YES" />
<macro name="DHLM2" pattern="^-?[0-9]*\.?[0-9]*$" description="Position upper limit (default: 200)" defaultValue="200" hasDefault="YES" />
<macro name="DHLM3" pattern="^-?[0-9]*\.?[0-9]*$" description="Position upper limit (default: 200)" defaultValue="200" hasDefault="YES" />
<macro name="DHLM4" pattern="^-?[0-9]*\.?[0-9]*$" description="Position upper limit (default: 200)" defaultValue="200" hasDefault="YES" />
<macro name="DHLM5" pattern="^-?[0-9]*\.?[0-9]*$" description="Position upper limit (default: 200)" defaultValue="200" hasDefault="YES" />
<macro name="DHLM6" pattern="^-?[0-9]*\.?[0-9]*$" description="Position upper limit (default: 200)" defaultValue="200" hasDefault="YES" />
<macro name="DHLM7" pattern="^-?[0-9]*\.?[0-9]*$" description="Position upper limit (default: 200)" defaultValue="200" hasDefault="YES" />
<macro name="DHLM8" pattern="^-?[0-9]*\.?[0-9]*$" description="Position upper limit (default: 200)" defaultValue="200" hasDefault="YES" />

<macro name="DLLM1" pattern="^-?[0-9]*\.?[0-9]*$" description="Position lower limit (default: -200)" defaultValue="-200" hasDefault="YES" />
<macro name="DLLM2" pattern="^-?[0-9]*\.?[0-9]*$" description="Position lower limit (default: -200)" defaultValue="-200" hasDefault="YES" />
<macro name="DLLM3" pattern="^-?[0-9]*\.?[0-9]*$" description="Position lower limit (default: -200)" defaultValue="-200" hasDefault="YES" />
<macro name="DLLM4" pattern="^-?[0-9]*\.?[0-9]*$" description="Position lower limit (default: -200)" defaultValue="-200" hasDefault="YES" />
<macro name="DLLM5" pattern="^-?[0-9]*\.?[0-9]*$" description="Position lower limit (default: -200)" defaultValue="-200" hasDefault="YES" />
<macro name="DLLM6" pattern="^-?[0-9]*\.?[0-9]*$" description="Position lower limit (default: -200)" defaultValue="-200" hasDefault="YES" />
<macro name="DLLM7" pattern="^-?[0-9]*\.?[0-9]*$" description="Position lower limit (default: -200)" defaultValue="-200" hasDefault="YES" />
<macro name="DLLM8" pattern="^-?[0-9]*\.?[0-9]*$" description="Position lower limit (default: -200)" defaultValue="-200" hasDefault="YES" />

<macro name="CMOD1" pattern="^(OPEN|CLOSED)$" description="Loop control mode (default: CLOSED)" defaultValue="CLOSED" hasDefault="YES" />
<macro name="CMOD2" pattern="^(OPEN|CLOSED)$" description="Loop control mode (default: CLOSED)" defaultValue="CLOSED" hasDefault="YES" />
<macro name="CMOD3" pattern="^(OPEN|CLOSED)$" description="Loop control mode (default: CLOSED)" defaultValue="CLOSED" hasDefault="YES" />
<macro name="CMOD4" pattern="^(OPEN|CLOSED)$" description="Loop control mode (default: CLOSED)" defaultValue="CLOSED" hasDefault="YES" />
<macro name="CMOD5" pattern="^(OPEN|CLOSED)$" description="Loop control mode (default: CLOSED)" defaultValue="CLOSED" hasDefault="YES" />
<macro name="CMOD6" pattern="^(OPEN|CLOSED)$" description="Loop control mode (default: CLOSED)" defaultValue="CLOSED" hasDefault="YES" />
<macro name="CMOD7" pattern="^(OPEN|CLOSED)$" description="Loop control mode (default: CLOSED)" defaultValue="CLOSED" hasDefault="YES" />
<macro name="CMOD8" pattern="^(OPEN|CLOSED)$" description="Loop control mode (default: CLOSED)" defaultValue="CLOSED" hasDefault="YES" />

<macro name="HOME1" pattern="^([0-3])$" description="Homing mode [0: Hardware defined, 1: Constant velocity move, 2: Reverse home and zero, 3. Constant velocity move and zero] (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="HOME2" pattern="^([0-3])$" description="Homing mode [0: Hardware defined, 1: Constant velocity move, 2: Reverse home and zero, 3. Constant velocity move and zero] (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="HOME3" pattern="^([0-3])$" description="Homing mode [0: Hardware defined, 1: Constant velocity move, 2: Reverse home and zero, 3. Constant velocity move and zero] (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="HOME4" pattern="^([0-3])$" description="Homing mode [0: Hardware defined, 1: Constant velocity move, 2: Reverse home and zero, 3. Constant velocity move and zero] (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="HOME5" pattern="^([0-3])$" description="Homing mode [0: Hardware defined, 1: Constant velocity move, 2: Reverse home and zero, 3. Constant velocity move and zero] (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="HOME6" pattern="^([0-3])$" description="Homing mode [0: Hardware defined, 1: Constant velocity move, 2: Reverse home and zero, 3. Constant velocity move and zero] (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="HOME7" pattern="^([0-3])$" description="Homing mode [0: Hardware defined, 1: Constant velocity move, 2: Reverse home and zero, 3. Constant velocity move and zero] (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="HOME8" pattern="^([0-3])$" description="Homing mode [0: Hardware defined, 1: Constant velocity move, 2: Reverse home and zero, 3. Constant velocity move and zero] (default: 1)" defaultValue="1" hasDefault="YES" />

<macro name="NAME1" pattern="^[\x20-\x7E]*$" description="Name used to identify the motor" hasDefault="UNKNOWN" />
<macro name="NAME2" pattern="^[\x20-\x7E]*$" description="Name used to identify the motor" hasDefault="UNKNOWN" />
<macro name="NAME3" pattern="^[\x20-\x7E]*$" description="Name used to identify the motor" hasDefault="UNKNOWN" />
<macro name="NAME4" pattern="^[\x20-\x7E]*$" description="Name used to identify the motor" hasDefault="UNKNOWN" />
<macro name="NAME5" pattern="^[\x20-\x7E]*$" description="Name used to identify the motor" hasDefault="UNKNOWN" />
<macro name="NAME6" pattern="^[\x20-\x7E]*$" description="Name used to identify the motor" hasDefault="UNKNOWN" />
<macro name="NAME7" pattern="^[\x20-\x7E]*$" description="Name used to identify the motor" hasDefault="UNKNOWN" />
<macro name="NAME8" pattern="^[\x20-\x7E]*$" description="Name used to identify the motor" hasDefault="UNKNOWN" />

<macro name="OFST1" pattern="-?[0-9]*\.?[0-9]*$" description="Motor offset (default: 0)" defaultValue="0" hasDefault="YES" />
<macro name="OFST2" pattern="-?[0-9]*\.?[0-9]*$" description="Motor offset (default: 0)" defaultValue="0" hasDefault="YES" />
<macro name="OFST3" pattern="-?[0-9]*\.?[0-9]*$" description="Motor offset (default: 0)" defaultValue="0" hasDefault="YES" />
<macro name="OFST4" pattern="-?[0-9]*\.?[0-9]*$" description="Motor offset (default: 0)" defaultValue="0" hasDefault="YES" />
<macro name="OFST5" pattern="-?[0-9]*\.?[0-9]*$" description="Motor offset (default: 0)" defaultValue="0" hasDefault="YES" />
<macro name="OFST6" pattern="-?[0-9]*\.?[0-9]*$" description="Motor offset (default: 0)" defaultValue="0" hasDefault="YES" />
<macro name="OFST7" pattern="-?[0-9]*\.?[0-9]*$" description="Motor offset (default: 0)" defaultValue="0" hasDefault="YES" />
<macro name="OFST8" pattern="-?[0-9]*\.?[0-9]*$" description="Motor offset (default: 0)" defaultValue="0" hasDefault="YES" />

</macros>
<pvsets>
</pvsets>
</config_part>
</ioc_config>
