<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>McLennan Motor Controller</ioc_desc>
<ioc_details>McLennan Motor Details</ioc_details>
<macros>

<macro name="MTRCTRL" pattern="^[0-9]{1,2}$" description="Crate number used in motor address assignment" />

<macro name="PORT1" pattern="^COM[0-9]+$" description="Serial COM Port" />
<macro name="BAUD1" pattern="^[0-9]+$" description="port baud rate (default: 9600)" />
<macro name="BITS1" pattern="^[7-8]$" description="port data bits (default: 7)" />
<macro name="PARITY1" pattern="^(even|odd|none)$" description="port parity (default: even)" />
<macro name="STOP1" pattern="^[0-2]$" description="port stop bits (default: 1)" />
<macro name="VEL1" pattern="[0-9]*\.?[0-9]*$" description="motor velocity (default: 1)" />
<macro name="ACC1" pattern="[0-9]*\.?[0-9]*$" description="motor acceleration (default: 1)" />
<macro name="MRES1" pattern="[0-9]*\.?[0-9]*$" description="motor pulses per revolution (default: 0.0025)" />
<macro name="ERES1" pattern="[0-9]*\.?[0-9]*$" description="encoder pulses per revolution (default: 0.00244140625)" />
<macro name="HLM1" pattern="[0-9]*\.?[0-9]*$" description="motor upper limit (default: 200)" />
<macro name="LLM1" pattern="[0-9]*\.?[0-9]*$" description="motor lower limit (default: -200)" />

<macro name="PORT2" pattern="^COM[0-9]+$" description="Serial COM Port" />
<macro name="BAUD2" pattern="^[0-9]+$" description="port baud rate (default: 9600)" />
<macro name="BITS2" pattern="^[7-8]$" description="port data bits (default: 7)" />
<macro name="PARITY2" pattern="^(even|odd|none)$" description="port parity (default: even)" />
<macro name="STOP2" pattern="^[0-2]$" description="port stop bits (default: 1)" />
<macro name="VEL2" pattern="[0-9]*\.?[0-9]*$" description="motor velocity (default: 1)" />
<macro name="ACC2" pattern="[0-9]*\.?[0-9]*$" description="motor acceleration (default: 1)" />
<macro name="MRES2" pattern="[0-9]*\.?[0-9]*$" description="motor pulses per revolution (default: 0.0025)" />
<macro name="ERES2" pattern="[0-9]*\.?[0-9]*$" description="encoder pulses per revolution (default: 0.00244140625)" />
<macro name="HLM2" pattern="[0-9]*\.?[0-9]*$" description="motor upper limit (default: 200)" />
<macro name="LLM2" pattern="[0-9]*\.?[0-9]*$" description="motor lower limit (default: -200)" />

<macro name="PORT3" pattern="^COM[0-9]+$" description="Serial COM Port" />
<macro name="BAUD3" pattern="^[0-9]+$" description="port baud rate (default: 9600)" />
<macro name="BITS3" pattern="^[7-8]$" description="port data bits (default: 7)" />
<macro name="PARITY3" pattern="^(even|odd|none)$" description="port parity (default: even)" />
<macro name="STOP3" pattern="^[0-2]$" description="port stop bits (default: 1)" />
<macro name="VEL3" pattern="[0-9]*\.?[0-9]*$" description="motor velocity (default: 1)" />
<macro name="ACC3" pattern="[0-9]*\.?[0-9]*$" description="motor acceleration (default: 1)" />
<macro name="MRES3" pattern="[0-9]*\.?[0-9]*$" description="motor pulses per revolution (default: 0.0025)" />
<macro name="ERES3" pattern="[0-9]*\.?[0-9]*$" description="encoder pulses per revolution (default: 0.00244140625)" />
<macro name="HLM3" pattern="[0-9]*\.?[0-9]*$" description="motor upper limit (default: 200)" />
<macro name="LLM3" pattern="[0-9]*\.?[0-9]*$" description="motor lower limit (default: -200)" />

<macro name="PORT4" pattern="^COM[0-9]+$" description="Serial COM Port" />
<macro name="BAUD4" pattern="^[0-9]+$" description="port baud rate (default: 9600)" />
<macro name="BITS4" pattern="^[7-8]$" description="port data bits (default: 7)" />
<macro name="PARITY4" pattern="^(even|odd|none)$" description="port parity (default: even)" />
<macro name="STOP4" pattern="^[0-2]$" description="port stop bits (default: 1)" />
<macro name="VEL4" pattern="[0-9]*\.?[0-9]*$" description="motor velocity (default: 1)" />
<macro name="ACC4" pattern="[0-9]*\.?[0-9]*$" description="motor acceleration (default: 1)" />
<macro name="MRES4" pattern="[0-9]*\.?[0-9]*$" description="motor pulses per revolution (default: 0.0025)" />
<macro name="ERES4" pattern="[0-9]*\.?[0-9]*$" description="encoder pulses per revolution (default: 0.00244140625)" />
<macro name="HLM4" pattern="[0-9]*\.?[0-9]*$" description="motor upper limit (default: 200)" />
<macro name="LLM4" pattern="[0-9]*\.?[0-9]*$" description="motor lower limit (default: -200)" />

<macro name="PORT5" pattern="^COM[0-9]+$" description="Serial COM Port" />
<macro name="BAUD5" pattern="^[0-9]+$" description="port baud rate (default: 9600)" />
<macro name="BITS5" pattern="^[7-8]$" description="port data bits (default: 7)" />
<macro name="PARITY5" pattern="^(even|odd|none)$" description="port parity (default: even)" />
<macro name="STOP5" pattern="^[0-2]$" description="port stop bits (default: 1)" />
<macro name="VEL5" pattern="[0-9]*\.?[0-9]*$" description="motor velocity (default: 1)" />
<macro name="ACC5" pattern="[0-9]*\.?[0-9]*$" description="motor acceleration (default: 1)" />
<macro name="MRES5" pattern="[0-9]*\.?[0-9]*$" description="motor pulses per revolution (default: 0.0025)" />
<macro name="ERES5" pattern="[0-9]*\.?[0-9]*$" description="encoder pulses per revolution (default: 0.00244140625)" />
<macro name="HLM5" pattern="[0-9]*\.?[0-9]*$" description="motor upper limit (default: 200)" />
<macro name="LLM5" pattern="[0-9]*\.?[0-9]*$" description="motor lower limit (default: -200)" />

<macro name="PORT6" pattern="^COM[0-9]+$" description="Serial COM Port" />
<macro name="BAUD6" pattern="^[0-9]+$" description="port baud rate (default: 9600)" />
<macro name="BITS6" pattern="^[7-8]$" description="port data bits (default: 7)" />
<macro name="PARITY6" pattern="^(even|odd|none)$" description="port parity (default: even)" />
<macro name="STOP6" pattern="^[0-2]$" description="port stop bits (default: 1)" />
<macro name="VEL6" pattern="[0-9]*\.?[0-9]*$" description="motor velocity (default: 1)" />
<macro name="ACC6" pattern="[0-9]*\.?[0-9]*$" description="motor acceleration (default: 1)" />
<macro name="MRES6" pattern="[0-9]*\.?[0-9]*$" description="motor pulses per revolution (default: 0.0025)" />
<macro name="ERES6" pattern="[0-9]*\.?[0-9]*$" description="encoder pulses per revolution (default: 0.00244140625)" />
<macro name="HLM6" pattern="[0-9]*\.?[0-9]*$" description="motor upper limit (default: 200)" />
<macro name="LLM6" pattern="[0-9]*\.?[0-9]*$" description="motor lower limit (default: -200)" />

<macro name="PORT7" pattern="^COM[0-9]+$" description="Serial COM Port" />
<macro name="BAUD7" pattern="^[0-9]+$" description="port baud rate (default: 9600)" />
<macro name="BITS7" pattern="^[7-8]$" description="port data bits (default: 7)" />
<macro name="PARITY7" pattern="^(even|odd|none)$" description="port parity (default: even)" />
<macro name="STOP7" pattern="^[0-2]$" description="port stop bits (default: 1)" />
<macro name="VEL7" pattern="[0-9]*\.?[0-9]*$" description="motor velocity (default: 1)" />
<macro name="ACC7" pattern="[0-9]*\.?[0-9]*$" description="motor acceleration (default: 1)" />
<macro name="MRES7" pattern="[0-9]*\.?[0-9]*$" description="motor pulses per revolution (default: 0.0025)" />
<macro name="ERES7" pattern="[0-9]*\.?[0-9]*$" description="encoder pulses per revolution (default: 0.00244140625)" />
<macro name="HLM7" pattern="[0-9]*\.?[0-9]*$" description="motor upper limit (default: 200)" />
<macro name="LLM7" pattern="[0-9]*\.?[0-9]*$" description="motor lower limit (default: -200)" />

<macro name="PORT8" pattern="^COM[0-9]+$" description="Serial COM Port" />
<macro name="BAUD8" pattern="^[0-9]+$" description="port baud rate (default: 9600)" />
<macro name="BITS8" pattern="^[7-8]$" description="port data bits (default: 7)" />
<macro name="PARITY8" pattern="^(even|odd|none)$" description="port parity (default: even)" />
<macro name="STOP8" pattern="^[0-2]$" description="port stop bits (default: 1)" />
<macro name="VEL8" pattern="[0-9]*\.?[0-9]*$" description="motor velocity (default: 1)" />
<macro name="ACC8" pattern="[0-9]*\.?[0-9]*$" description="motor acceleration (default: 1)" />
<macro name="MRES8" pattern="[0-9]*\.?[0-9]*$" description="motor pulses per revolution (default: 0.0025)" />
<macro name="ERES8" pattern="[0-9]*\.?[0-9]*$" description="encoder pulses per revolution (default: 0.00244140625)" />
<macro name="HLM8" pattern="[0-9]*\.?[0-9]*$" description="motor upper limit (default: 200)" />
<macro name="LLM8" pattern="[0-9]*\.?[0-9]*$" description="motor lower limit (default: -200)" />

</macros>
<pvsets>
</pvsets>
</config_part>
</ioc_config>
