<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>McLennan Motor Controller</ioc_desc>
<ioc_details>McLennan Motor Details</ioc_details>
<macros>

<macro name="MTRCTRL" pattern="^[0-9]{1,2}$" description="Controller number used in motor address assignment" />
<macro name="PORT" pattern="^COM[0-9]+$" description="Serial COM port" />
<macro name="BAUD" pattern="^[0-9]+$" description="Baud rate (default: 9600)" />
<macro name="BITS" pattern="^[7-8]$" description="Data bits (default: 7)" />
<macro name="PARITY" pattern="^(even|odd|none)$" description="Parity (default: even)" />
<macro name="STOP" pattern="^[0-2]$" description="Stop bits (default: 1)" />

<macro name="AXIS1" pattern="^(yes|no)$" description="Motor is attached to axis 1 (default: no)" />
<macro name="VELO1" pattern="[0-9]*\.?[0-9]*$" description="velocity, mm/s (default: 1)" />
<macro name="ACCL1" pattern="[0-9]*\.?[0-9]*$" description="seconds to max speed (default: 1)" />
<macro name="MSTP1" pattern="[0-9]*\.?[0-9]*$" description="motor resolution in steps/unit (default: 4000)" />
<macro name="ERES1" pattern="-?[0-9]+/[0-9]+$" description="encoder ratio (default: 400/4096)" />
<macro name="DHLM1" pattern="-?[0-9]*\.?[0-9]*$" description="position upper limit (default: 200)" />
<macro name="DLLM1" pattern="-?[0-9]*\.?[0-9]*$" description="position lower limit (default: -200)" />
<macro name="MODE1" pattern="^(OPEN|CLOSED)$" description="motor control mode (default: CLOSED)" />
<macro name="HOME1" pattern="^([0-2])$" description="Homing mode (0: Motor default, 1: Constant velocity move, 2: Reverse home and zero" />

<macro name="AXIS2" pattern="^(yes|no)$" description="Motor is attached to axis 2 (default: no)" />
<macro name="VELO2" pattern="[0-9]*\.?[0-9]*$" description="velocity, mm/s (default: 1)" />
<macro name="ACCL2" pattern="[0-9]*\.?[0-9]*$" description="seconds to max speed (default: 1)" />
<macro name="MSTP2" pattern="[0-9]*\.?[0-9]*$" description="motor resolution in steps/unit (default: 4000)" />
<macro name="ERES2" pattern="-?[0-9]+/[0-9]+$" description="encoder ratio (default: 400/4096)" />
<macro name="DHLM2" pattern="-?[0-9]*\.?[0-9]*$" description="position upper limit (default: 200)" />
<macro name="DLLM2" pattern="-?[0-9]*\.?[0-9]*$" description="position lower limit (default: -200)" />
<macro name="MODE2" pattern="^(OPEN|CLOSED)$" description="motor control mode (default: CLOSED)" />
<macro name="HOME2" pattern="^([0-2])$" description="Homing mode (0: Motor default, 1: Constant velocity move, 2: Reverse home and zero" />

<macro name="AXIS3" pattern="^(yes|no)$" description="Motor is attached to axis 3 (default: no)" />
<macro name="VELO3" pattern="[0-9]*\.?[0-9]*$" description="velocity, mm/s (default: 1)" />
<macro name="ACCL3" pattern="[0-9]*\.?[0-9]*$" description="seconds to max speed (default: 1)" />
<macro name="MSTP3" pattern="[0-9]*\.?[0-9]*$" description="motor resolution in steps/unit (default: 4000)" />
<macro name="ERES3" pattern="-?[0-9]+/[0-9]+$" description="encoder ratio (default: 400/4096)" />
<macro name="DHLM3" pattern="-?[0-9]*\.?[0-9]*$" description="position upper limit (default: 200)" />
<macro name="DLLM3" pattern="-?[0-9]*\.?[0-9]*$" description="position lower limit (default: -200)" />
<macro name="MODE3" pattern="^(OPEN|CLOSED)$" description="motor control mode (default: CLOSED)" />
<macro name="HOME3" pattern="^([0-2])$" description="Homing mode (0: Motor default, 1: Constant velocity move, 2: Reverse home and zero" />

<macro name="AXIS4" pattern="^(yes|no)$" description="Motor is attached to axis 4 (default: no)" />
<macro name="VELO4" pattern="[0-9]*\.?[0-9]*$" description="velocity, mm/s (default: 1)" />
<macro name="ACCL4" pattern="[0-9]*\.?[0-9]*$" description="seconds to max speed (default: 1)" />
<macro name="MSTP4" pattern="[0-9]*\.?[0-9]*$" description="motor resolution in steps/unit (default: 4000)" />
<macro name="ERES4" pattern="-?[0-9]+/[0-9]+$" description="encoder ratio (default: 400/4096)" />
<macro name="DHLM4" pattern="-?[0-9]*\.?[0-9]*$" description="position upper limit (default: 200)" />
<macro name="DLLM4" pattern="-?[0-9]*\.?[0-9]*$" description="position lower limit (default: -200)" />
<macro name="MODE4" pattern="^(OPEN|CLOSED)$" description="motor control mode (default: CLOSED)" />
<macro name="HOME4" pattern="^([0-2])$" description="Homing mode (0: Motor default, 1: Constant velocity move, 2: Reverse home and zero" />

<macro name="AXIS5" pattern="^(yes|no)$" description="Motor is attached to axis 5 (default: no)" />
<macro name="VELO5" pattern="[0-9]*\.?[0-9]*$" description="velocity, mm/s (default: 1)" />
<macro name="ACCL5" pattern="[0-9]*\.?[0-9]*$" description="seconds to max speed (default: 1)" />
<macro name="MSTP5" pattern="[0-9]*\.?[0-9]*$" description="motor resolution in steps/unit (default: 4000)" />
<macro name="ERES5" pattern="-?[0-9]+/[0-9]+$" description="encoder ratio (default: 400/4096)" />
<macro name="DHLM5" pattern="-?[0-9]*\.?[0-9]*$" description="position upper limit (default: 200)" />
<macro name="DLLM5" pattern="-?[0-9]*\.?[0-9]*$" description="position lower limit (default: -200)" />
<macro name="MODE5" pattern="^(OPEN|CLOSED)$" description="motor control mode (default: CLOSED)" />
<macro name="HOME5" pattern="^([0-2])$" description="Homing mode (0: Motor default, 1: Constant velocity move, 2: Reverse home and zero" />

<macro name="AXIS6" pattern="^(yes|no)$" description="Motor is attached to axis 6 (default: no)" />
<macro name="VELO6" pattern="[0-9]*\.?[0-9]*$" description="velocity, mm/s (default: 1)" />
<macro name="ACCL6" pattern="[0-9]*\.?[0-9]*$" description="seconds to max speed (default: 1)" />
<macro name="MSTP6" pattern="[0-9]*\.?[0-9]*$" description="motor resolution in steps/unit (default: 4000)" />
<macro name="ERES6" pattern="-?[0-9]+/[0-9]+$" description="encoder ratio (default: 400/4096)" />
<macro name="DHLM6" pattern="-?[0-9]*\.?[0-9]*$" description="position upper limit (default: 200)" />
<macro name="DLLM6" pattern="-?[0-9]*\.?[0-9]*$" description="position lower limit (default: -200)" />
<macro name="MODE6" pattern="^(OPEN|CLOSED)$" description="motor control mode (default: CLOSED)" />
<macro name="HOME6" pattern="^([0-2])$" description="Homing mode (0: Motor default, 1: Constant velocity move, 2: Reverse home and zero" />

<macro name="AXIS7" pattern="^(yes|no)$" description="Motor is attached to axis 7 (default: no)" />
<macro name="VELO7" pattern="[0-9]*\.?[0-9]*$" description="velocity, mm/s (default: 1)" />
<macro name="ACCL7" pattern="[0-9]*\.?[0-9]*$" description="seconds to max speed (default: 1)" />
<macro name="MSTP7" pattern="[0-9]*\.?[0-9]*$" description="motor resolution in steps/unit (default: 4000)" />
<macro name="ERES7" pattern="-?[0-9]+/[0-9]+$" description="encoder ratio (default: 400/4096)" />
<macro name="DHLM7" pattern="-?[0-9]*\.?[0-9]*$" description="position upper limit (default: 200)" />
<macro name="DLLM7" pattern="-?[0-9]*\.?[0-9]*$" description="position lower limit (default: -200)" />
<macro name="MODE7" pattern="^(OPEN|CLOSED)$" description="motor control mode (default: CLOSED)" />
<macro name="HOME7" pattern="^([0-2])$" description="Homing mode (0: Motor default, 1: Constant velocity move, 2: Reverse home and zero" />

<macro name="AXIS8" pattern="^(yes|no)$" description="Motor is attached to axis 8 (default: no)" />
<macro name="VELO8" pattern="[0-9]*\.?[0-9]*$" description="velocity, mm/s (default: 1)" />
<macro name="ACCL8" pattern="[0-9]*\.?[0-9]*$" description="seconds to max speed (default: 1)" />
<macro name="MSTP8" pattern="[0-9]*\.?[0-9]*$" description="motor resolution in steps/unit (default: 4000)" />
<macro name="ERES8" pattern="-?[0-9]+/[0-9]+$" description="encoder ratio (default: 400/4096)" />
<macro name="DHLM8" pattern="-?[0-9]*\.?[0-9]*$" description="position upper limit (default: 200)" />
<macro name="DLLM8" pattern="-?[0-9]*\.?[0-9]*$" description="position lower limit (default: -200)" />
<macro name="MODE8" pattern="^(OPEN|CLOSED)$" description="motor control mode (default: CLOSED)" />
<macro name="HOME8" pattern="^([0-2])$" description="Homing mode (0: Motor default, 1: Constant velocity move, 2: Reverse home and zero" />

</macros>
<pvsets>
</pvsets>
</config_part>
</ioc_config>
