<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>Moxa ioLogik E1210 Remote I/O</ioc_desc>
<ioc_details>Moxa E1210 details</ioc_details>
<macros>
    <macro name="IP_ADDR" pattern="^.*$" description="IP address to connect to." />
    <macro name="PORT" pattern="^[0-9]*$" description="Modbus Port number of device. Defaults to 502" />
    <macro name="CHAN00NAME" pattern="^[a-zA-Z0-9 \-\_]{0,39}+$" description="Name of channel 0, max 39 characters. Defaults to blank" />
    <macro name="CHAN01NAME" pattern="^[a-zA-Z0-9 \-\_]{0,39}+$" description="Name of channel 1, max 39 characters. Defaults to blank" />
    <macro name="CHAN02NAME" pattern="^[a-zA-Z0-9 \-\_]{0,39}+$" description="Name of channel 2, max 39 characters. Defaults to blank" />
    <macro name="CHAN03NAME" pattern="^[a-zA-Z0-9 \-\_]{0,39}+$" description="Name of channel 3, max 39 characters. Defaults to blank" />
    <macro name="CHAN04NAME" pattern="^[a-zA-Z0-9 \-\_]{0,39}+$" description="Name of channel 4, max 39 characters. Defaults to blank" />
    <macro name="CHAN05NAME" pattern="^[a-zA-Z0-9 \-\_]{0,39}+$" description="Name of channel 5, max 39 characters. Defaults to blank" />
    <macro name="CHAN06NAME" pattern="^[a-zA-Z0-9 \-\_]{0,39}+$" description="Name of channel 6, max 39 characters. Defaults to blank" />
    <macro name="CHAN07NAME" pattern="^[a-zA-Z0-9 \-\_]{0,39}+$" description="Name of channel 7, max 39 characters. Defaults to blank" />
    <macro name="CHAN08NAME" pattern="^[a-zA-Z0-9 \-\_]{0,39}+$" description="Name of channel 8, max 39 characters. Defaults to blank" />
    <macro name="CHAN09NAME" pattern="^[a-zA-Z0-9 \-\_]{0,39}+$" description="Name of channel 9, max 39 characters. Defaults to blank" />
    <macro name="CHAN10NAME" pattern="^[a-zA-Z0-9 \-\_]{0,39}+$" description="Name of channel 10, max 39 characters. Defaults to blank" />
    <macro name="CHAN11NAME" pattern="^[a-zA-Z0-9 \-\_]{0,39}+$" description="Name of channel 11, max 39 characters. Defaults to blank" />
    <macro name="CHAN12NAME" pattern="^[a-zA-Z0-9 \-\_]{0,39}+$" description="Name of channel 12, max 39 characters. Defaults to blank" />
    <macro name="CHAN13NAME" pattern="^[a-zA-Z0-9 \-\_]{0,39}+$" description="Name of channel 13, max 39 characters. Defaults to blank" />
    <macro name="CHAN14NAME" pattern="^[a-zA-Z0-9 \-\_]{0,39}+$" description="Name of channel 14, max 39 characters. Defaults to blank" />
    <macro name="CHAN15NAME" pattern="^[a-zA-Z0-9 \-\_]{0,39}+$" description="Name of channel 15, max 39 characters. Defaults to blank" />
</macros>
<pvsets>
</pvsets>
</config_part>
</ioc_config>
