<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
    <config_part>
        <ioc_desc>WEBCAM</ioc_desc>
		<!-- for an axis webcam URL is like http://ipaddr/axis-cgi/jpg/image.cgi -->
        <macros>
            <macro name="URL1" pattern="^.+$" description="URL for camera1 to fetch a single image" hasDefault="NO" />
            <macro name="URL2" pattern="^.+$" description="URL for camera2 to fetch a single image" hasDefault="NO" />
            <macro name="URL3" pattern="^.+$" description="URL for camera3 to fetch a single image" hasDefault="NO" />
            <macro name="URL4" pattern="^.+$" description="URL for camera4 to fetch a single image" hasDefault="NO" />
        </macros>
</config_part>
</ioc_config>
