record(mbbi, "$(P)$(R):$(PV_NAME)") {
    field(DTYP, "OPCUA")
    field(INP,  "@$(SUBS) ns=$(NS);s=$(NAME_PREFIX)$(NAME_SUFFIX)")
    field(SCAN, "I/O Intr")
	field(ZRVL, "0")
	field(ZRST, "Data OK")
	field(ONVL, "1")
	field(ONST, "Under range")
	field(TWVL, "2")
	field(TWST, "Over range")
	field(THVL, "3")
	field(THST, "Error")
	field(FRVL, "4")
	field(FRST, "Off")
	field(FVVL, "5")
	field(FVST, "No hardware")
    field(TSE,  "-2")
    field(TPRO, "$(DEBUG=0)")
}
