
record (bi, "$(P)$(INSTRUMENT):VAT_VALVE:STAT") {

    field(DTYP, "OPCUA")
    field(DESC, "$(INSTRUMENT) VAT Valve Status")
    field(INP,  "@$(SUBS) ns=4;s=$(NAME_PREFIX).VAT_VALVE_STATUS")

    field(SCAN, "I/O Intr")
    field(TSE,  "-2")
    field(TPRO, "$(DEBUG=0)")

    field(ZNAM, "Open")
    field(ZSV,  "NO_ALARM")

    field(ONAM, "Closed")
    field(OSV,  "NO_ALARM")

    info(INTEREST, "MEDIUM")
    info(ARCHIVE,  "10 VAL")
}


record (bi, "$(P)$(INSTRUMENT):VAT_VALVE:OPEN:DEMAND") {

    field(DTYP, "OPCUA")
    field(DESC, "$(INSTRUMENT) Open VAT Valve Demand")
    field(INP,  "@$(SUBS) ns=4;s=$(NAME_PREFIX).OPEN_VAT_VALVE_DEMAND")

    field(SCAN, "I/O Intr")
    field(TSE,  "-2")
    field(TPRO, "$(DEBUG=0)")

    field(ZNAM, "NOT Open")
    field(ZSV,  "NO_ALARM")

    field(ONAM, "Open")
    field(OSV,  "NO_ALARM")

    info(INTEREST, "MEDIUM")
    info(ARCHIVE,  "10 VAL")
}


record (bi, "$(P)$(INSTRUMENT):VAT_VALVE:VACUUM:STAT") {

    field(DTYP, "OPCUA")
    field(DESC, "$(INSTRUMENT) VAT Valve Vacuum Status")
    field(INP,  "@$(SUBS) ns=4;s=$(NAME_PREFIX).VAT_VACUUM_OK")

    field(SCAN, "I/O Intr")
    field(TSE,  "-2")
    field(TPRO, "$(DEBUG=0)")

    field(ZNAM, "Bad")
    field(ZSV,  "MAJOR")

    field(ONAM, "Good")
    field(OSV,  "NO_ALARM")

    info(INTEREST, "MEDIUM")
    info(ARCHIVE,  "10 VAL")
}


record (bi, "$(P)$(INSTRUMENT):VAT_VALVE:PSU:OVERRIDE") {

    field(DTYP, "OPCUA")
    field(DESC, "$(INSTRUMENT) VAT Valve PSU Override")
    field(INP,  "@$(SUBS) ns=4;s=$(NAME_PREFIX).PSU_OVERRIDE")

    field(SCAN, "I/O Intr")
    field(TSE,  "-2")
    field(TPRO, "$(DEBUG=0)")

    field(ZNAM, "Normal")
    field(ZSV,  "NO_ALARM")

    field(ONAM, "Overridden")
    field(OSV,  "MAJOR")

    info(INTEREST, "MEDIUM")
    info(ARCHIVE,  "10 VAL")
}


record (bi, "$(P)$(INSTRUMENT):VAT_VALVE:SIS_KEY:STAT") {

    field(DTYP, "OPCUA")
    field(DESC, "$(INSTRUMENT) VAT Valve SIS Key Status")
    field(INP,  "@$(SUBS) ns=4;s=$(NAME_PREFIX).SIS_KEY_TRAPPED")

    field(SCAN, "I/O Intr")
    field(TSE,  "-2")
    field(TPRO, "$(DEBUG=0)")

    field(ZNAM, "NOT Trapped")
    field(ZSV,  "MAJOR")

    field(ONAM, "Trapped")
    field(OSV,  "NO_ALARM")

    info(INTEREST, "MEDIUM")
    info(ARCHIVE,  "10 VAL")
}


record (bi, "$(P)$(INSTRUMENT):VAT_VALVE:LOWER_BLOCKER_NCPB:STAT") {

    field(DTYP, "OPCUA")
    field(DESC, "$(INSTRUMENT) VAT Valve Lower Blocker NCPB Status")
    field(INP,  "@$(SUBS) ns=4;s=$(NAME_PREFIX).LOWER_BLOCKER_NCPB")

    field(SCAN, "I/O Intr")
    field(TSE,  "-2")
    field(TPRO, "$(DEBUG=0)")

    field(ZNAM, "Pressed")
    field(ZSV,  "NO_ALARM")

    field(ONAM, "NOT Pressed")
    field(OSV,  "NO_ALARM")

    info(INTEREST, "MEDIUM")
    info(ARCHIVE,  "10 VAL")
}


record (bi, "$(P)$(INSTRUMENT):VAT_VALVE:CLOSE:DEMAND") {

    field(DTYP, "OPCUA")
    field(DESC, "$(INSTRUMENT) Close VAT Valve Demand")
    field(INP,  "@$(SUBS) ns=4;s=$(NAME_PREFIX).CLOSE_VAT_VALVE")

    field(SCAN, "I/O Intr")
    field(TSE,  "-2")
    field(TPRO, "$(DEBUG=0)")

    field(ZNAM, "Open")
    field(ZSV,  "NO_ALARM")

    field(ONAM, "Close")
    field(OSV,  "NO_ALARM")

    info(INTEREST, "MEDIUM")
    info(ARCHIVE,  "10 VAL")
}
