<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>Instrument DAE information</ioc_desc>
<macros>
<macro name="DAEDCOM" description="Use DCOM to connect to ISISICP" defaultValue="1" hasDefault="YES" />
<macro name="DAEHOST" description="If using DCOM, host to connect to" defaultValue="localhost" hasDefault="YES" />
<macro name="LIVEVIEW_NELEMENTS" description="Max num array elements in liveview (at least SizeX * SizeY)" defaultValue="100000" hasDefault="YES" />
<macro name="PRE_BEGIN_1" description="PV to write to before executing BEGIN" defaultValue="" hasDefault="YES" />
<macro name="POST_BEGIN_1" description="PV to write to after executing BEGIN" defaultValue="" hasDefault="YES" />
<macro name="PRE_END_1" description="PV to write to before executing END" defaultValue="" hasDefault="YES" />
<macro name="POST_END_1" description="PV to write to after executing END" defaultValue="" hasDefault="YES" />
<macro name="PRE_PAUSE_1" description="PV to write to before executing PAUSE" defaultValue="" hasDefault="YES" />
<macro name="POST_PAUSE_1" description="PV to write to after executing PAUSE" defaultValue="" hasDefault="YES" />
<macro name="PRE_RESUME_1" description="PV to write to before executing RESUME" defaultValue="" hasDefault="YES" />
<macro name="POST_RESUME_1" description="PV to write to after executing RESUME" defaultValue="" hasDefault="YES" />
<macro name="PRE_ABORT_1" description="PV to write to before executing ABORT" defaultValue="" hasDefault="YES" />
<macro name="POST_ABORT_1" description="PV to write to after executing ABOR" defaultValue="" hasDefault="YES" />
</macros>
<pvsets />
</config_part>
</ioc_config>
