O.*/
/*/db
/*/bin
/*/dbd
/*/include
/*/lib
/*/templates
/*/doc
/*/data
envPaths
cdCommands
dllPath.bat
runIoc.bat
*.tags
*.tag
/MK3CHOPPER/Mk3Wrapper/bin/
/MK3CHOPPER/Mk3Wrapper/obj/
/MK3CHOPPER/iocBoot/
/MK3CHOPPER/src/obj/
