O.*/
/*/db
/*/bin
/*/dbd
/*/include
/*/lib
/*/templates
/*/doc
/*/data
envPaths
cdCommands
dllPath.bat
dllCopy.bat
runIOC.bat
runIOC.sh
relPaths.sh
.project
.cproject
*.tags
*.tag
#/MK3CHOPR/Mk3Wrapper/bin/
#/MK3CHOPR/Mk3Wrapper/obj/
#/MK3CHOPR/iocBoot/
#/MK3CHOPR/src/obj/
*_info_positions.req
*_info_settings.req
*_built_positions.req
*_built_settings.req
NULL
