O.*/
/*/db
/*/bin
/*/dbd
/*/include
/*/lib
/*/templates
/*/doc
/*/data
/**/test-reports
envPaths
cdCommands
dllPath*.bat
dllCopy.bat
runIOC.bat
runIOC.sh
relPaths.sh
.project
.cproject
*.tags
*.tag
*.log
#/MK3CHOPR/Mk3Wrapper/bin/
#/MK3CHOPR/Mk3Wrapper/obj/
#/MK3CHOPR/iocBoot/
#/MK3CHOPR/src/obj/
*_info_positions.req
*_info_settings.req
*_built_positions.req
*_built_settings.req
NULL
/GALIL/iocBoot/**/*.[dg]mc
/GALILMUL/iocBoot/**/*.[dg]mc
/GALIL/GALIL_OLD.txt
/GALILMUL/GALIL_OLD.txt
/GALIL-OLD/
/GALILMUL-OLD/
/GALIL-NEW/
/GALILMUL-NEW/
/DG645/iocBoot/iocDG645-IOC-01/dgconfig_settings.req
/DG645/vmeconfig_settings.req
*/**/TEST-TestPVUnits-*.xml
.vs/
.idea
