<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>Oxford Instruments IPS Power Supply</ioc_desc>
<ioc_details>For info and setting see https://github.com/ISISComputingGroup/ibex_developers_manual/wiki/OxfordInstrumentsIPS</ioc_details>
<macros>
<macro name="PORT" pattern="^COM[0-9]+$" description="Serial COM Port" hasDefault="NO" />
<macro name="STABILITY_VOLTAGE" pattern="^[0-9]+\.?[0-9]*$" description="Voltage difference under which the voltage is declared stable (default: 0.1)" defaultValue="0.1" hasDefault="YES" />
<macro name="MAX_FIELD" pattern="^[0-9]+\.?[0-9]*$" description="Largest permissible field (default: 7.0)" defaultValue="7.0" hasDefault="YES" />
<macro name="MAX_SWEEP_RATE" pattern="^[0-9]+\.?[0-9]*$" description="Greatest  permissible field sweep rate (default: 1.0)" defaultValue="1.0" hasDefault="YES" />
</macros>
<pvsets>
</pvsets>
</config_part>
</ioc_config>
