record(ai, "$(P)$(AXIS):RAW")
{
	field(DESC, "RAW value of $(AXIS)")
	field(DTYP, "stream")
	field(INP, "@devcybaman.proto get$(AXIS) $(PORT)")
	field(SCAN, "1 second")
	field(FLNK, "$(P)$(AXIS):CALC")
}

record(calcout, "$(P)$(AXIS):CALC")
{
	field(INPA, "$(P)$(AXIS):RAW")
	field(CALC, "A/$(SCALE)")
	
	field(OUT, "$(P)$(AXIS) PP")
	field(OOPT, "Every Time")
}

record(ai, "$(P)$(AXIS)")
{
	field(DESC, "Value of $(AXIS)")
	field(PREC, "3")
	info(INTEREST, "HIGH")
	info(archive, "VAL")
	field(SIML, "$(P)SIM")
    field(SIOL, "$(P)SIM:$(AXIS)")
    field(SDIS, "$(P)DISABLE")
}

record(seq, "$(P)$(AXIS):HOME")
{
	field(LNK1, "$(P)$(AXIS):HOME:_CALC PP")
	field(DLY2, "2")
	field(LNK2, "$(P)$(AXIS):HOME:_RAW PP")
	field(SELM, "All")
}

record(calcout, "$(P)$(AXIS):HOME:_CALC")
{
	field(INPA, "$(P)$(AXIS)")
	field(CALC, "(A<-150)?(-150):0")
	field(OUT, "$(P)$(AXIS):SP PP")
	field(OOPT, "When Non-zero")
}

record(bo, "$(P)$(AXIS):HOME:_RAW")
{
	field(DTYP, "stream")
	field(OUT, "@devcybaman.proto home$(AXIS) $(PORT)")
}

record(ao, "$(P)$(AXIS):SP")
{
	field(PREC, "3")
	field(FLNK, "$(P)_CALC_TM_AND_SET")
	field(SIML, "$(P)SIM")
    field(SIOL, "$(P)SIM:$(AXIS):SP")
    field(SDIS, "$(P)DISABLE")
}

## Simulation records

record(ao, "$(P)SIM:$(AXIS):SP")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
}

alias("$(P)SIM:$(AXIS):SP","$(P)SIM:$(AXIS)")
