# Template file for remote labview services Double values (e.g. buttons or LEDs)
# Substitutions
# DEVICE - The Device name
# P - The PV prefix (This should usually be substituted for $(P))
# NAME - The name of the pv
# IND - The indicator of the value to read from labview
# CONTROL - The control to write to, can be left out of substitution if readonly
# VI - The path to the VI on the host computer as a string.
# PORT - The Port to read (by default, L0 for Strings and L1 for Binary)
# READONLY - Whether or not a value is readonly, should be "#" when true and "" when false.
# DESCRIPTION - The description of the PV, will be appended to "Readback for " and "Setpoint for " 
# SCAN - Scan rate for the readback
# WRITEONLY - Whether or not a value should only be written to and have a setpoint readback, used by values that require some calculation for 
# their input i.e. items split out of arrays, should be "#" when true and "" when false."
# SIMRECORD - Normally "", set to ":SP" if WRITEONLY = #.


$(WRITEONLY)record(ai, "$(P)$(DEVICE):$(NAME)") {
$(WRITEONLY)    field(DESC, "Readback for $(DESCRIPTION)")
$(WRITEONLY)$(IFNOTRECSIM)    field(DTYP, "stream")
$(WRITEONLY)$(IFNOTRECSIM)    field(INP,  "@lvremote_num.proto getDoubleVal($(VI),$(IND)) $(PORT)")
$(WRITEONLY)    field(SCAN, "$(SCAN)")

$(WRITEONLY)    field(SDIS, "$(P)DISABLE")
$(WRITEONLY)    field(SIML, "$(P)SIM")
$(WRITEONLY)    field(SIOL, "$(P)SIM:$(DEVICE):$(NAME)$(SIMRECORD="") PP")
$(WRITEONLY)}

$(READONLY)record(ao, "$(P)$(DEVICE):$(NAME):SP") {
$(READONLY)    field(DESC, "Setpoint for $(DESCRIPTION)")
$(READONLY)$(IFNOTRECSIM)    field(DTYP, "stream")
$(READONLY)$(IFNOTRECSIM)    field(OUT,  "@lvremote_num.proto setDoubleVal($(VI),$(CONTROL="")) $(PORT)")
$(READONLY)    field(SCAN, "Passive")

$(READONLY)    field(SDIS, "$(P)DISABLE")
$(READONLY)    field(SIML, "$(P)SIM")
$(READONLY)    field(SIOL, "$(P)SIM:$(DEVICE):$(NAME):SP PP")
$(READONLY)}

$(READONLY)record(ai, "$(P)$(DEVICE):$(NAME):SP:RBV") {
$(READONLY)    field(DESC, "Setpoint Readback for $(DESCRIPTION)")
$(READONLY)$(IFNOTRECSIM)    field(DTYP, "stream")
$(READONLY)$(IFNOTRECSIM)    field(INP,  "@lvremote_num.proto getDoubleVal($(VI),$(CONTROL="")) $(PORT)")
$(READONLY)    field(SCAN, "$(SCAN)")

$(READONLY)    field(SDIS, "$(P)DISABLE")
$(READONLY)    field(SIML, "$(P)SIM")
$(READONLY)    field(SIOL, "$(P)SIM:$(DEVICE):$(NAME)$(SIMRECORD="") PP")
$(READONLY)}

record(bo, "$(P)SIM:$(DEVICE):$(NAME)$(SIMRECORD="")") 
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
}

$(READONLY)alias("$(P)SIM:$(DEVICE):$(NAME)$(SIMRECORD="")","$(P)SIM:$(DEVICE):$(NAME):SP")


