# Template file for remote labview services string values
# Substitutions
# DEVICE - The Device name
# P - The PV prefix (This should usually be substituted for $(P))
# NAME - The name of the pv
# IND - The indicator of the value to read from labview
# CONTROL - The control to write to, can be left out of substitution if readonly
# VI - The path to the VI on the host computer as a string.
# PORT - The Port to read (by default, L0 for Strings and L1 for Binary)
# READONLY - Whether or not a value is readonly, should be "#" when true and "" when false.
# DESCRIPTION - The description of the PV, will be appended to "Readback for " and "Setpoint for " 
# SCAN - Scan rate for the readback


record(stringin, "$(P)$(DEVICE):$(NAME)") {
    field(DESC, "Readback for $(DESCRIPTION)")
$(IFNOTRECSIM)    field(DTYP, "stream")
$(IFNOTRECSIM)    field(INP,  "@lvremote_string.proto getString($(VI),$(IND)) $(PORT)")
    field(SCAN, "$(SCAN)")

    field(SDIS, "$(P)DISABLE")
    field(SIML, "$(P)SIM")
    field(SIOL, "$(P)SIM:$(DEVICE):$(NAME) PP")
}

$(READONLY)record(stringout, "$(P)$(DEVICE):$(NAME):SP") {
$(READONLY)    field(DESC, "Setpoint for $(DESCRIPTION)")
$(READONLY)$(IFNOTRECSIM)    field(DTYP, "stream")
$(READONLY)$(IFNOTRECSIM)    field(OUT,  "@lvremote_string.proto sendString($(VI),$(CONTROL="")) $(PORT)")
$(READONLY)    field(SCAN, "Passive")

$(READONLY)    field(SDIS, "$(P)DISABLE")
$(READONLY)    field(SIML, "$(P)SIM")
$(READONLY)    field(SIOL, "$(P)SIM:$(DEVICE):$(NAME):SP PP")
$(READONLY)}

$(READONLY)record(stringin, "$(P)$(DEVICE):$(NAME):SP:RBV") {
$(READONLY)    field(DESC, "Setpoint Readback for $(DESCRIPTION)")
$(READONLY)$(IFNOTRECSIM)    field(DTYP, "stream")
$(READONLY)$(IFNOTRECSIM)    field(INP,  "@lvremote_string.proto getString($(VI),$(CONTROL="")) $(PORT)")
$(READONLY)    field(SCAN, "$(SCAN)")

$(READONLY)    field(SDIS, "$(P)DISABLE")
$(READONLY)    field(SIML, "$(P)SIM")
$(READONLY)    field(SIOL, "$(P)SIM:$(DEVICE):$(NAME) PP")
$(READONLY)}

record(bo, "$(P)SIM:$(DEVICE):$(NAME)") 
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
}

$(READONLY)alias("$(P)SIM:$(DEVICE):$(NAME)","$(P)SIM:$(DEVICE):$(NAME):SP")


