<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
	<config_part>
		<ioc_desc>CAEN high voltage power supply</ioc_desc>
		<macros>
			<macro name ="HVCAENIP0" pattern="^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$" description="IP address of the first device." />
			<macro name ="HVCAENIP1" pattern="^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$" description="IP address of the second device." />
			<macro name ="HVCAENIP2" pattern="^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$" description="IP address of the third device." />
			<macro name ="HVCAENIP3" pattern="^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$" description="IP address of the fourth device." />
			<macro name ="HVCAENIP4" pattern="^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$" description="IP address of the fifth device." />
			<macro name ="HVCAENIP5" pattern="^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$" description="IP address of the sixth device." />
			<macro name ="HVCAENIP6" pattern="^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$" description="IP address of the seventh device." />
			<macro name ="HVCAENIP7" pattern="^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$" description="IP address of the eighth device." />
		</macros>
	</config_part>
</ioc_config>
