<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
	<config_part>
		<ioc_desc>CAEN high voltage power supply</ioc_desc>
		<macros>
			<macro name ="IFREADONLY" pattern="^ |#$" description="Whether device is readonly. Set to # for readonly, default is ' ' (just spacebar), for read and write" hasDefault="YES" defaultValue=" "/>
			<macro name ="HVCAENIP0" pattern="^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$" description="IP address of the first device." hasDefault="NO" />
			<macro name ="HVCAENIP1" pattern="^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$" description="IP address of the second device." hasDefault="NO" />
			<macro name ="HVCAENIP2" pattern="^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$" description="IP address of the third device." hasDefault="NO" />
			<macro name ="HVCAENIP3" pattern="^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$" description="IP address of the fourth device." hasDefault="NO" />
			<macro name ="HVCAENIP4" pattern="^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$" description="IP address of the fifth device." hasDefault="NO" />
			<macro name ="HVCAENIP5" pattern="^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$" description="IP address of the sixth device." hasDefault="NO" />
			<macro name ="HVCAENIP6" pattern="^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$" description="IP address of the seventh device." hasDefault="NO" />
			<macro name ="HVCAENIP7" pattern="^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$" description="IP address of the eighth device." hasDefault="NO" />
			<macro name ="HVCAENSYSTYPE0" pattern="^[A-Z0-9]+$" description="System type of the first device." defaultValue="SY1527" hasDefault="YES" />
			<macro name ="HVCAENSYSTYPE1" pattern="^[A-Z0-9]+$" description="System type of the second device." defaultValue="SY1527" hasDefault="YES" />
			<macro name ="HVCAENSYSTYPE2" pattern="^[A-Z0-9]+$" description="System type of the third device." defaultValue="SY1527" hasDefault="YES" />
			<macro name ="HVCAENSYSTYPE3" pattern="^[A-Z0-9]+$" description="System type of the fourth device." defaultValue="SY1527" hasDefault="YES" />
			<macro name ="HVCAENSYSTYPE4" pattern="^[A-Z0-9]+$" description="System type of the fifth device." defaultValue="SY1527" hasDefault="YES" />
			<macro name ="HVCAENSYSTYPE5" pattern="^[A-Z0-9]+$" description="System type of the sixth device." defaultValue="SY1527" hasDefault="YES" />
			<macro name ="HVCAENSYSTYPE6" pattern="^[A-Z0-9]+$" description="System type of the seventh device." defaultValue="SY1527" hasDefault="YES" />
			<macro name ="HVCAENSYSTYPE7" pattern="^[A-Z0-9]+$" description="System type of the eighth device." defaultValue="SY1527" hasDefault="YES" />
		</macros>
	</config_part>
</ioc_config>
