<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>Oxford Instruments Mercury heliox Helium-3 sorption refrigerator</ioc_desc>
<ioc_details></ioc_details>
<macros>
    <macro name="PORT" pattern="^COM[0-9]+$" description="Serial COM Port" hasDefault="NO" />
    <macro name="BAUD" pattern="^[0-9]+$" description="Serial communication baud rate, defaults to 57600." defaultValue="57600" hasDefault="YES" />
    <macro name="BITS" pattern="^[0-9]$" description="Serial communication number of bits, defaults to 8." defaultValue="8" hasDefault="YES" />
    <macro name="PARITY" pattern="^(even)|(odd)|(none)$" description="Serial communication parity, defaults to none." defaultValue="none" hasDefault="YES" />
    <macro name="STOP" pattern="^[0-9]$" description="Serial communication stop bit, defaults to 2." defaultValue="2" hasDefault="YES" />
    <macro name="HE3SORB_NAME" pattern=".*" description="Name of Helium-3 sorb channel. Defaults to 'He3Sorb'" defaultValue="He3Sorb" hasDefault="YES" />
    <macro name="HE4POT_NAME" pattern=".*" description="Name of Helium-4 pot channel. Defaults to 'He4Pot'" defaultValue="He4Pot" hasDefault="YES" />
    <macro name="HEHIGH_NAME" pattern=".*" description="Name of Helium-3 pot high-temperature channel. Defaults to 'HeHigh'" defaultValue="HeHigh" hasDefault="YES" />
    <macro name="HELOW_NAME" pattern=".*" description="Name of Helium-3 pot low-temperature channel. Defaults to 'HeLow'" defaultValue="HeLow" hasDefault="YES" />
</macros>
<pvsets>
</pvsets>
</config_part>
</ioc_config>
