<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>PACE 5000 Modular Pressure Controller</ioc_desc>
<macros>
<xi:include href="../../../COMMON/PORT.xml" />
<macro name="VENT_THRESHOLD" pattern="" description="Lower threshold to enable venting (bar)" hasDefault="YES" defaultValue="2" />
</macros>
<pvsets>
</pvsets>
</config_part>
</ioc_config>
