<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
 <config_part>
  <ioc_desc>SKF MB350 Chopper</ioc_desc>
  <ioc_details>SKF Choppers</ioc_details>
  <macros>
    <xi:include href="../../../COMMON/PORT.xml" />
    <xi:include href="../../../COMMON/BAUD9600.xml" />
    <xi:include href="../../../COMMON/BITS8.xml" />
    <xi:include href="../../../COMMON/PARITYNONE.xml" />
    <macro name="STOP" pattern="^[0-9]$" description="Serial communication stop bit, defaults to 2." defaultValue="2" hasDefault="YES" />
    <macro name="ADDRESS" pattern="^[0-9]*$" description="Internal address of the unit, defaults to 1." defaultValue="1" hasDefault="YES" />   
    <macro name="PARKPOS" pattern="^[0-9]*$" description="Whether the chopper should park open (1) or closed (0)." hasDefault="NO" /> 
    <macro name="PARKCLOSED" pattern="^.*$" description="Angle at which to park if PARKPOS = 0." hasDefault="NO" />   	
    <macro name="PARKOPEN" pattern="^.*$" description="Angle at which to park if PARKPOS = 1." hasDefault="NO" />   
  </macros>
 </config_part>
</ioc_config>
