<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>ISIS exchange gas control system</ioc_desc>
<macros>
<xi:include href="../../../COMMON/PORT.xml" />
<xi:include href="../../../COMMON/BAUD9600.xml" />
<macro name="BITS" pattern="^[0-9]$" description="Serial communication number of bits, defaults to 8." defaultValue="8" hasDefault="YES" />
<xi:include href="../../../COMMON/PARITYNONE.xml" />
<xi:include href="../../../COMMON/STOP1.xml" />
</macros>
</config_part>
</ioc_config>
