<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>LOQ Couette cell</ioc_desc>
<macros>
<macro name="LVDCOM_HOST" pattern=".*" description="The LVDCOM host." />
<macro name="LVDCOM_OPTIONS" pattern=".*" description="The LVDCOM options." />
<macro name="LVDCOM_PROGID" pattern=".*" description="The LVDCOM program ID." />
</macros>
</config_part>
</ioc_config>
