# Write to LabVIEW control/indicator "$(DIRECTION_LOWER) $(AXIS)" on "C:/LabVIEW Modules/Drivers/Motion Control/ENGINX Collimators/ENGINX Collimators.llb/ENGINX Collimators - Front Panel 1.vi"
record(ao, "$(P)$(DIRECTION_UPPER):$(AXIS):SP")
{
	field(DESC, "LabVIEW '$(DIRECTION_LOWER) $(AXIS)'")
    field(DTYP, "asynFloat64")
    field(OUT,  "@asyn(lvfp,0,0)$(DIRECTION_LOWER)_$(AXIS)")
    field(PREC, "3")
}

# Read LabVIEW control/indicator "$(DIRECTION_LOWER) $(AXIS) Ind" on "C:/LabVIEW Modules/Drivers/Motion Control/ENGINX Collimators/ENGINX Collimators.llb/ENGINX Collimators - Front Panel 1.vi"
record(ai, "$(P)$(DIRECTION_UPPER):$(AXIS)")
{
	field(DESC, "LabVIEW '$(DIRECTION_LOWER) $(AXIS) Ind'")
    field(DTYP, "asynFloat64")
    field(INP,  "@asyn(lvfp,0,0)$(DIRECTION_LOWER)_$(AXIS)_Ind")
    field(PREC, "3")
    field(SCAN, ".1 second")
}

# Write to LabVIEW control "Define $(DIRECTION_LOWER) $(AXIS)" on "C:/LabVIEW Modules/Drivers/Motion Control/ENGINX Collimators/ENGINX Collimators.llb/ENGINX Collimators - Front Panel 1.vi"
record(bo, "$(P)$(DIRECTION_UPPER):$(AXIS):DEFINE")
{
	field(DESC, "LabVIEW 'Define $(DIRECTION_LOWER) $(AXIS)'")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn(lvfp,0,0)Define_$(DIRECTION_LOWER)_$(AXIS)")
    field(ZNAM, "Define")
    field(ONAM, "")
}

# Write to LabVIEW control "Home $(DIRECTION_LOWER) $(AXIS) Motor" on "C:/LabVIEW Modules/Drivers/Motion Control/ENGINX Collimators/ENGINX Collimators.llb/ENGINX Collimators - Front Panel 1.vi"
record(bo, "$(P)$(DIRECTION_UPPER):$(AXIS):HOME")
{
	field(DESC, "LabVIEW 'Home $(DIRECTION_LOWER) $(AXIS) Motor'")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn(lvfp,0,0)Home_$(DIRECTION_LOWER)_$(AXIS)_Motor")
    field(ZNAM, "Home")
    field(ONAM, "")
}

# Write to LabVIEW control "Stop $(DIRECTION_LOWER) $(AXIS)" on "C:/LabVIEW Modules/Drivers/Motion Control/ENGINX Collimators/ENGINX Collimators.llb/ENGINX Collimators - Front Panel 1.vi"
record(bo, "$(P)$(DIRECTION_UPPER):$(AXIS):STOP")
{
	field(DESC, "LabVIEW 'Stop $(DIRECTION_LOWER) $(AXIS)'")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn(lvfp,0,0)Stop_$(DIRECTION_LOWER)_$(AXIS)")
    field(ZNAM, "Stop")
    field(ONAM, "")
}

# Write to LabVIEW control "$(DIRECTION_LOWER) $(AXIS) Jog" on "C:/LabVIEW Modules/Drivers/Motion Control/ENGINX Collimators/ENGINX Collimators.llb/ENGINX Collimators - Front Panel 1.vi"
record(ao, "$(P)$(DIRECTION_UPPER):$(AXIS):JOG:AMOUNT")
{
	field(DESC, "LabVIEW '$(DIRECTION_LOWER) $(AXIS) Jog'")
    field(DTYP, "asynFloat64")
    field(OUT,  "@asyn(lvfp,0,0)$(DIRECTION_LOWER)_$(AXIS)_Jog")
    field(PREC, "3")
}

# Write to LabVIEW control "$(DIRECTION_LOWER) $(AXIS) Back Jog" on "C:/LabVIEW Modules/Drivers/Motion Control/ENGINX Collimators/ENGINX Collimators.llb/ENGINX Collimators - Front Panel 1.vi"
record(bo, "$(P)$(DIRECTION_UPPER):$(AXIS):JOG:BACKWARDS")
{
	field(DESC, "LabVIEW '$(DIRECTION_LOWER) $(AXIS) Back Jog'")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn(lvfp,0,0)$(DIRECTION_LOWER)_$(AXIS)_Back_Jog")
    field(ZNAM, "<<")
    field(ONAM, "")
}

# Write to LabVIEW control "$(DIRECTION_LOWER) $(AXIS) Forward Jog" on "C:/LabVIEW Modules/Drivers/Motion Control/ENGINX Collimators/ENGINX Collimators.llb/ENGINX Collimators - Front Panel 1.vi"
record(bo, "$(P)$(DIRECTION_UPPER):$(AXIS):JOG:FORWARDS")
{
	field(DESC, "LabVIEW '$(DIRECTION_LOWER) $(AXIS) Forward Jog'")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn(lvfp,0,0)$(DIRECTION_LOWER)_$(AXIS)_Forward_Jog")
    field(ZNAM, ">>")
    field(ONAM, "")
}


# Read LabVIEW control/indicator "$(DIRECTION_LOWER) $(AXIS) Lower Limit" on "C:/LabVIEW Modules/Drivers/Motion Control/ENGINX Collimators/ENGINX Collimators.llb/ENGINX Collimators - Front Panel 1.vi"
record(bi, "$(P)$(DIRECTION_UPPER):$(AXIS):LIMIT:LOWER")
{
	field(DESC, "LabVIEW '$(DIRECTION_LOWER) $(AXIS) Lower Limit'")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn(lvfp,0,0)$(DIRECTION_LOWER)_$(AXIS)_Lower_Limit")
    field(SCAN, ".1 second")
    field(ZNAM, "")
    field(ONAM, "")
}

# Read LabVIEW control/indicator "$(DIRECTION_LOWER) $(AXIS) Upper Limit" on "C:/LabVIEW Modules/Drivers/Motion Control/ENGINX Collimators/ENGINX Collimators.llb/ENGINX Collimators - Front Panel 1.vi"
record(bi, "$(P)$(DIRECTION_UPPER):$(AXIS):LIMIT:UPPER")
{
	field(DESC, "LabVIEW '$(DIRECTION_LOWER) $(AXIS) Upper Limit'")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn(lvfp,0,0)$(DIRECTION_LOWER)_$(AXIS)_Upper_Limit")
    field(SCAN, ".1 second")
    field(ZNAM, "")
    field(ONAM, "")
}

