<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
    <config_part>
        <ioc_desc>PEARL Thermometry</ioc_desc>
        <ioc_details>Reads 16 individual temperature channels from a NI cDAQ device</ioc_details>
        <macros>
            <macro name="HOST" pattern="^[a-zA-Z0-9_-]+$" description="cDAQ chassis hostname" hasDefault="NO" />
            <macro name="UNITS"         pattern="^[a-zA-Z0-9_-]+$" description="Units for all channels" defaultValue="K"    hasDefault="YES" />
            <macro name="TC_TYPE"       pattern="^[a-zA-Z0-9_-]+$" description="Thermocouple type for all channels"  defaultValue="K_Type_TC"       hasDefault="YES" />
            <macro name="MIN_TEMP"      pattern="^[a-zA-Z0-9_-]+$" description="Minimum TC temperature for all channels" defaultValue="73.15"       hasDefault="YES" />
            <macro name="MAX_TEMP"      pattern="^[a-zA-Z0-9_-]+$" description="Maximum TC temperature for all channels" defaultValue="1645.15"     hasDefault="YES" />
        </macros>
        <pvsets></pvsets>
    </config_part>
</ioc_config>
