<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
 <config_part>
  <ioc_desc>ITC503/Heliox based cryogenic refrigerator</ioc_desc>
  <ioc_details></ioc_details>
  <macros>
    <macro name="PORT" pattern="^COM[0-9]+$" description="Serial COM port of the ITC used to control the 3He Insert." hasDefault="No" />
    <macro name="BAUD" pattern="^[0-9]+$" description="Serial communication baud rate, defaults to 9600." defaultValue="9600" hasDefault="YES" />
    <macro name="BITS" pattern="^[0-9]$" description="Serial communication number of bits, defaults to 8." defaultValue="8" hasDefault="YES" />
    <macro name="PARITY" pattern="^(even)|(odd)|(none)$" description="Serial communication parity, defaults to none." defaultValue="none" hasDefault="YES" />
    <macro name="STOP" pattern="^[0-9]$" description="Serial communication stop bit, defaults to 1." defaultValue="1" hasDefault="YES" />

    <macro name="SORB_SENSOR" pattern="^[1-3]$" description="The sensor corresponding to the sorb." hasDefault="NO" />
    <macro name="HE3POTHI_SENSOR" pattern="^[1-3]$" description="The sensor corresponding to the the He3 Pot at high temperatures." hasDefault="NO" />
    <macro name="1KPOTHE3POTLO_SENSOR" pattern="^[1-3]$" description="The corresponding to the the 1K Pot/He3 Pot at low temperatures." hasDefault="NO" />

    <macro name="SORB_CHANNEL" pattern="^[1-3]$" description="The channel to use when controlling the sorb." hasDefault="NO">
    <macro name="HE3POTHI_CHANNEL" pattern="^[1-3]$" description="The channel to use when controlling the He3Pot at high temperatures." hasDefault="NO">
    <macro name="1KPOTHE3POTLO_CHANNEL" pattern="^[1-3]$" description="The channel to use when controlling the 1K Pot/He3Pot at low temperatures." hasDefault="NO">

    <macro name="MAX_TEMP_FOR_HE3_COOLING" pattern="^.*$" description="The temperature below which He3 cooling is to be used." hasDefault="NO"/>
    <macro name="MAX_OPERATING_TEMP_FOR_HELIOX" pattern="^.*$" description="The maximum temperature at which the heliox can be operated at." hasDefault="NO"/>
    <macro name="DEFAULT_POST_CONDENSE_TEMP_SETPOINT" pattern="^.*$" description="The default temperature setpoint to set just after a recondense" hasDefault="YES" defaultValue="0.3"/>
  </macros>
 </config_part>
</ioc_config>
