<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
 <config_part>
  <ioc_desc>ITC503/Heliox based cryogenic refrigerator</ioc_desc>
  <ioc_details></ioc_details>
  <macros>
    <macro name="HE3POT_HIGHT_PORT" pattern="^COM[0-9]+$" description="Serial COM port of the ITC used to control the Helium-3 Pot at high temperatures." hasDefault="No" />
    <macro name="HE3POT_HIGHT_BAUD" pattern="^[0-9]+$" description="Serial communication baud rate, defaults to 9600." defaultValue="9600" hasDefault="YES" />
    <macro name="HE3POT_HIGHT_BITS" pattern="^[0-9]$" description="Serial communication number of bits, defaults to 8." defaultValue="8" hasDefault="YES" />
    <macro name="HE3POT_HIGHT_PARITY" pattern="^(even)|(odd)|(none)$" description="Serial communication parity, defaults to none." defaultValue="none" hasDefault="YES" />
    <macro name="HE3POT_HIGHT_STOP" pattern="^[0-9]$" description="Serial communication stop bit, defaults to 1." defaultValue="1" hasDefault="YES" />
    <macro name="HE3POT_HIGHT_EMULATOR_PORT" pattern="^[0-9]+$" description="Port to connect to emulator for the Helium-3 Pot at high temperatures." hasDefault="No" />

    <macro name="HE3POT_LOWT_PORT" pattern="^COM[0-9]+$" description="Serial COM port of the ITC used to control the Helium-3 Pot at low temperatures." hasDefault="No" />
    <macro name="HE3POT_LOWT_BAUD" pattern="^[0-9]+$" description="Serial communication baud rate, defaults to 9600." defaultValue="9600" hasDefault="YES" />
    <macro name="HE3POT_LOWT_BITS" pattern="^[0-9]$" description="Serial communication number of bits, defaults to 8." defaultValue="8" hasDefault="YES" />
    <macro name="HE3POT_LOWT_PARITY" pattern="^(even)|(odd)|(none)$" description="Serial communication parity, defaults to none." defaultValue="none" hasDefault="YES" />
    <macro name="HE3POT_LOWT_STOP" pattern="^[0-9]$" description="Serial communication stop bit, defaults to 1." defaultValue="1" hasDefault="YES" />
    <macro name="HE3POT_LOWT_EMULATOR_PORT" pattern="^[0-9]+$" description="Port to connect to emulator for the Helium-3 Pot at low temperatures." hasDefault="No" />

    <macro name="1KPOT_PORT" pattern="^COM[0-9]+$" description="Serial COM port of the ITC used to control the 1KPOT." hasDefault="No" />
    <macro name="1KPOT_BAUD" pattern="^[0-9]+$" description="Serial communication baud rate, defaults to 9600." defaultValue="9600" hasDefault="YES" />
    <macro name="1KPOT_BITS" pattern="^[0-9]$" description="Serial communication number of bits, defaults to 8." defaultValue="8" hasDefault="YES" />
    <macro name="1KPOT_PARITY" pattern="^(even)|(odd)|(none)$" description="Serial communication parity, defaults to none." defaultValue="none" hasDefault="YES" />
    <macro name="1KPOT_STOP" pattern="^[0-9]$" description="Serial communication stop bit, defaults to 1." defaultValue="1" hasDefault="YES" />
    <macro name="1KPOT_EMULATOR_PORT" pattern="^[0-9]+$" description="Port to connect to emulator for the 1K Pot." hasDefault="No" />
    
    <macro name="SORB_PORT" pattern="^COM[0-9]+$" description="Serial COM port of the ITC used to control the Sorb." hasDefault="No" />  
    <macro name="SORB_BAUD" pattern="^[0-9]+$" description="Serial communication baud rate, defaults to 9600." defaultValue="9600" hasDefault="YES" />
    <macro name="SORB_BITS" pattern="^[0-9]$" description="Serial communication number of bits, defaults to 8." defaultValue="8" hasDefault="YES" />
    <macro name="SORB_PARITY" pattern="^(even)|(odd)|(none)$" description="Serial communication parity, defaults to none." defaultValue="none" hasDefault="YES" />
    <macro name="SORB_STOP" pattern="^[0-9]$" description="Serial communication stop bit, defaults to 1." defaultValue="1" hasDefault="YES" />
    <macro name="SORB_EMULATOR_PORT" pattern="^[0-9]+$" description="Port to connect to emulator for the SORB." hasDefault="No" />
  </macros>
 </config_part>
</ioc_config>
