<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>The Keyence LK-G laser positioning sensor</ioc_desc>
<ioc_details>The Keyence LK-G laser positioning sensor</ioc_details>
<macros>
<macro name="PORT" pattern="^COM[0-9]+$" description="Serial COM port" hasDefault="UNKNOWN" />
<macro name="BAUD" pattern="^d+$" description="Baud rate, manual suggests one of 9600, 19200, 38400, 57600, 115200. Default 9600" defaultValue="9600" hasDefault="YES" />
<macro name="PARITY" pattern="^none|even|odd$" description="Parity, default none" defaultValue="none" hasDefault="YES" />
</macros>
<pvsets>
</pvsets>
</config_part>
</ioc_config>
