<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>Kepco power supply unit</ioc_desc>
<macros>
<macro name="PORT" pattern="^COM[0-9]+$" description="Serial COM Port" hasDefault="NO" />
<macro name="ON_START" pattern="^0|1|2|3$" description="What to do on start? 0 for use firmware, 1 for reset and resend parameters, 2 for set to remote mode, 3 for do nothing" hasDefault="YES" defaultValue="0" />
</macros>
</config_part>
</ioc_config>
