<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>Kepco power supply unit</ioc_desc>
<macros>
<macro name="PORT" pattern="^COM[0-9]+$" description="Serial COM Port" hasDefault="NO" />
<macro name="CURRENT_MAX" pattern="^[0-9.]+$" description="The maximum current you can set on the device, 0 for no max" hasDefault="YES" defaultValue="0" />
<macro name="STEP_NUMBER" pattern="^[0-9]+$" description="Number of steps the ramp does per minute" hasDefault="YES" defaultValue="20" />
</macros>
</config_part>
</ioc_config>
