<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
    <config_part>
        <ioc_desc>Pfeiffer TPG 26X pressure sensor</ioc_desc>
        <macros>
            <xi:include href="../../../COMMON/PORT.xml" />
            <xi:include href="../../../COMMON/BAUD9600.xml" />
            <macro name="PRES1ON" pattern="^Y|N$" description="Set to Y if pressure sensor 1 is connected (default:Y)" defaultValue="Y" hasDefault="YES" />
            <macro name="PRES2ON" pattern="^Y|N$" description="Set to Y if pressure sensor 2 is connected (default:Y)" defaultValue="Y" hasDefault="YES" />
        </macros>
    </config_part>
</ioc_config>
