<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
 <config_part>
  <ioc_desc>SuperLogics 8000 Data Acquisition</ioc_desc>
  <ioc_details>SuperLogics general data acquisition module</ioc_details>
  <macros>
    <xi:include href="../../../COMMON/PORT.xml" />
    <xi:include href="../../../COMMON/BAUD9600.xml" />
    <macro name="BITS" pattern="^[0-9]$" description="Serial communication number of bits, defaults to 8." defaultValue="8" hasDefault="YES" />
    <xi:include href="../../../COMMON/PARITYNONE.xml" />
    <xi:include href="../../../COMMON/STOP1.xml" />
    <macro name="ADDR" pattern="^[0-9A-F]{2}$" description="The address of the module." defaultValue="01" hasDefault="YES" />
    <macro name="TYPE" pattern="^(THERMO)|(STRAIN)$" description="The type of the module (thermocouple or strain gauge)." defaultValue="THERMO" hasDefault="YES" />
    <macro name="INP_0_CONNECTED" pattern="^(YES)|(NO)$" description="Is input channel 0 connected (only relevant for THERMO type module)." defaultValue="YES" hasDefault="YES" />
    <macro name="INP_1_CONNECTED" pattern="^(YES)|(NO)$" description="Is input channel 1 connected (only relevant for THERMO type module)." defaultValue="YES" hasDefault="YES" />
    <macro name="INP_2_CONNECTED" pattern="^(YES)|(NO)$" description="Is input channel 2 connected (only relevant for THERMO type module)." defaultValue="YES" hasDefault="YES" />
    <macro name="INP_3_CONNECTED" pattern="^(YES)|(NO)$" description="Is input channel 3 connected (only relevant for THERMO type module)." defaultValue="YES" hasDefault="YES" />
    <macro name="INP_4_CONNECTED" pattern="^(YES)|(NO)$" description="Is input channel 4 connected (only relevant for THERMO type module)." defaultValue="YES" hasDefault="YES" />
    <macro name="INP_5_CONNECTED" pattern="^(YES)|(NO)$" description="Is input channel 5 connected (only relevant for THERMO type module)." defaultValue="YES" hasDefault="YES" />
    <macro name="INP_6_CONNECTED" pattern="^(YES)|(NO)$" description="Is input channel 6 connected (only relevant for THERMO type module)." defaultValue="YES" hasDefault="YES" />
    <macro name="INP_7_CONNECTED" pattern="^(YES)|(NO)$" description="Is input channel 7 connected (only relevant for THERMO type module)." defaultValue="YES" hasDefault="YES" />
    <macro name="UNITS" pattern="^.+$" description="Units for the input values." defaultValue="C" hasDefault="YES" />
  </macros>
 </config_part>
</ioc_config>
