record(ao, "$(P)STEER_$(STEER_MAG):$(INT_MAG)_MAIN:COEFF")
{
  field(DESC, "Coefficient for steering $(STEER_MAG) $(INT_MAG)_MAIN")
  field(PREC, "3")
}

record(ao, "$(P)STEER_$(STEER_MAG):$(INT_MAG)_TRANS:COEFF")
{
  field(DESC, "Coefficient for steering $(STEER_MAG) $(INT_MAG)_TRANS")
  field(PREC, "3")
}


# Equation for a single steering magnet 
# bx = ax + (cx1 * m1 + cx2 * m2 +... + cxn * mn)
# where b = The output steering value
# a = the initital steering value
# x = the steering magnet
# cx1 through cxn = the coefficients of the interfering magnets to steering magnet x (set by scientists)
# m1 through mn = the current value of the interferring magnets

record(calc, $(P)STEERING_$(STEER_MAG):MAIN_$(INT_MAG)){
  field(CALC, "A*B")
  field(INPA, "$(P)STEER_$(STEER_MAG):$(INT_MAG)_MAIN:COEFF CP MS")
  field(INPB, "$(P)$(INT_MAG)_PV:MAIN CP MS")
}

record(calc, $(P)STEERING_$(STEER_MAG):TRANS_$(INT_MAG)){
  field(CALC, "A*B")
  field(INPA, "$(P)STEER_$(STEER_MAG):$(INT_MAG)_TRANS:COEFF CP MS")
  field(INPB, "$(P)$(INT_MAG)_PV:TRANS CP MS")
}

record(calc, "$(P)STEERING_$(STEER_MAG):OFFSET"){
  field(CALC, "A + B + C + D + E + F")
  field(PREC, "3")
  field(INP$(INP1), "$(P)STEERING_$(STEER_MAG):MAIN_$(INT_MAG) CP MS")
  field(INP$(INP2), "$(P)STEERING_$(STEER_MAG):TRANS_$(INT_MAG) CP MS")
}
