<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>Chell CCD 100 pressure transducer</ioc_desc>
<macros>
<macro name="PORT" pattern="^COM[0-9]+$" description="Serial COM Port" hasDefault="NO" />
<macro name="BAUD" pattern="^[0-9]+$" description="Serial communication baud rate, defaults to 57600." defaultValue="57600" hasDefault="YES" />
<macro name="BITS" pattern="^[0-9]$" description="Serial communication number of bits, defaults to 8." defaultValue="8" hasDefault="YES" />
<macro name="PARITY" pattern="^(even)|(odd)|(none)$" description="Serial communication parity, defaults to none." defaultValue="none" hasDefault="YES" />
<macro name="STOP" pattern="^[0-9]$" description="Serial communication stop bit, defaults to 1." defaultValue="1" hasDefault="YES" />
<macro name="ADDRESS" pattern="^[a-h]$" description="The address of the CCD100, defaults to a." defaultValue="a" hasDefault="YES" />
<macro name="DEV_NAME" pattern="^\w*$" description="A user friendly name for the device, defaults to blank." defaultValue="" hasDefault="YES" />

</macros>
</config_part>
</ioc_config>
