<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>The Oerlikon Centre-One Pressure Gauge</ioc_desc>
<macros>
<xi:include href="../../../COMMON/PORT.xml" />
<xi:include href="../../../COMMON/BAUD9600.xml" />
</macros>
<pvsets>
</pvsets>
</config_part>
</ioc_config>
