# I/O statistics

alias("$(NAME):$(ASYNPORT)_$(FNCTN)_CHx_HistEnable", "$(NAME):$(FNCTN):HistEnable")

alias("$(NAME):$(ASYNPORT)_$(FNCTN)_CHx_Statistics", "$(NAME):$(FNCTN):Statistics")

alias("$(NAME):$(ASYNPORT)_$(FNCTN)_CHx_Hist", "$(NAME):$(FNCTN):Hist")

alias("$(NAME):$(ASYNPORT)_$(FNCTN)_CHx_HistTimeAxis", "$(NAME):$(FNCTN):HistTimeAxis")

alias("$(NAME):$(ASYNPORT)_$(FNCTN)_CHx_MsPerBin", "$(NAME):$(FNCTN):MsPerBin")

alias("$(NAME):$(ASYNPORT)_$(FNCTN)_CHx_ReadOK", "$(NAME):$(FNCTN):ReadOK")

alias("$(NAME):$(ASYNPORT)_$(FNCTN)_CHx_WriteOK", "$(NAME):$(FNCTN):WriteOK")

alias("$(NAME):$(ASYNPORT)_$(FNCTN)_CHx_IOErrors", "$(NAME):$(FNCTN):IOErrors")

alias("$(NAME):$(ASYNPORT)_$(FNCTN)_CHx_LastIOTime", "$(NAME):$(FNCTN):LastIOTime")

alias("$(NAME):$(ASYNPORT)_$(FNCTN)_CHx_MaxIOTime", "$(NAME):$(FNCTN):MaxIOTime")
