<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
 <config_part>
  <ioc_desc>TiZr Cell Monitoring. Applies SAFE_VALUE to PVONE if both PVONE and PVTWO go above PVONE_MAX and PVTWO_MAX respectively.</ioc_desc>
  <macros>
    <macro name="PVONE" pattern="^[0-9a-zA-Z:\._]+$" description="A setpoint PV to monitor, e.g. IN:INSTNAME:EUROTHRM_01:A01:TEMP:SP" hasDefault="NO" />
    <macro name="PVTWO" pattern="^[0-9a-zA-Z:\._]+$" description="A readback PV to monitor, e.g. IN:INSTNAME:TPG361_01:2:PRESSURE" hasDefault="NO" />

    <macro name="PVONE_MAX" pattern="^[0-9.]+$" description="Maximum safe value for PVONE" hasDefault="NO" />
    <macro name="PVTWO_MAX" pattern="^[0-9.]+$" description="Maximum safe value for PVTWO" hasDefault="NO" />

    <macro name="SAFE_VALUE" pattern="^[0-9.]+$" description="Value written to PVONE when both PVs are above their maximum limits." defaultValue="$(PVONE_MAX)" hasDefault="YES" />
    <macro name="MONITORING_ON" pattern="^(0|1)$" description="Whether to monitor the PVs and write the safe value or not. 1 for Yes, 0 for No." defaultValue="0" hasDefault="YES" />
  </macros>
 </config_part>
</ioc_config>
