
record (ai, "$(P)$(PV)") {

    field(DESC, "$(DESC)")
    field(INP,  "@asyn($(PORT)$(PORTNAME),$(OFFSET))INT16")
    field(SCAN, "I/O Intr")
    
    field(DTYP, "asynInt32")
    field(EGU,  "$(UNITS)")
    field(PREC, "$(PRECISION)")

    info(INTEREST, "LOW")
    info(ARCHIVE,  "VAL")

    field(SDIS, "$(P)DISABLE")
    field(SSCN, "Passive")
    field(SIML, "$(P)SIM")
    field(SIOL, "$(P)SIM:$(PV) CP")
}

record(ao,"$(P)SIM:$(PV)") {

    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
}
