
record (mbbi, "$(P)$(PV)") {

    field(DESC, "$(DESC)")
    field(DTYP, "asynInt32")
    field(ZRVL, 0)
    field(ONVL, 1)
    field(TWVL, 2)
    field(THVL, 3)
    field(FRVL, 4)
    field(FVVL, 5)
    field(SXVL, 6)
    field(SVVL, 7)
    field(EIVL, 8)
    field(NIVL, 9)
    field(TEVL, 10)
    field(ELVL, 11)
    field(ZRST, "Comms OK")
    field(ONST, "$(LOCN) Locked")
    field(TWST, "NO_A Closed")
    field(THST, "NO_B Closed")
    field(FRST, "NC_A Closed")
    field(FVST, "NC_B Closed")
    field(SXST, "NC uswitch Closed")
    field(SVST, "NO_A Opened")
    field(EIST, "NO_B Opened")
    field(NIST, "NC_A Opened")
    field(TEST, "NC_B Opened")
    field(ELST, "NC uswitch Opened")
    field(INP,  "@asyn($(PORT)$(PORTNAME),$(OFFSET))UINT16")
    field(SCAN, "I/O Intr")
    info(INTEREST, "MEDIUM")
    info(archive, "VAL")
}
