
record (ai, "$(P)$(PV)") {

    field(DESC, "$(DESC)")
    $(IFNOTRECSIM) field(INP,  "@asyn($(PORT)$(PORTNAME),$(OFFSET))FLOAT32_LE")
    $(IFNOTRECSIM) field(SCAN, "I/O Intr")
    $(IFNOTRECSIM) field(DTYP, "asynFloat64")

    field(EGU,  "$(UNITS)")
    field(PREC, "$(PRECISION)")

    info(INTEREST, "MEDIUM")
    info(ARCHIVE,  "VAL")

    field(SDIS, "$(P)DISABLE")
    field(SSCN, "Passive")
    field(SIML, "$(P)SIM")
    field(SIOL, "$(P)SIM:$(PV) CP")
}

record(ao,"$(P)SIM:$(PV)") {

    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
}
