
record (mbbi, "$(P)$(PV)") {

    field(DESC, "$(DESC)")
    field(DTYP, "asynInt32")

    field(ZRVL, 0)
    field(ZRST, "Comms OK")

    field(ONVL, 1)
    field(ONST, "BP Running")


    field(TWVL, 2)
    field(TWST, "TP Panel Inst OK")
    
    field(THVL, 3)
    field(THST, "TP No Error")


    field(FRVL, 4)
    field(FRST, "TP Up to Speed")


    field(FVVL, 5)
    field(FVST, "GH_A OK")


    field(SXVL, 6)
    field(SXST, "GH_B OK")


    field(FFVL, 15)
    field(FFST, "Interlocks Bypassed")

    field(INP,  "@asyn($(PORT)$(PORTNAME),$(OFFSET))UINT16")
    field(SCAN, "I/O Intr")
    info(INTEREST, "MEDIUM")
    info(archive, "VAL")
}
