
record (ai, "$(P)$(PV)") {

    field(DESC, "$(DESC)")
    field(INP,  "@asyn($(PORT)$(PORTNAME),$(OFFSET))FLOAT32_LE")
    field(SCAN, "I/O Intr")

    field(DTYP, "asynFloat64")
    field(EGU,  "$(UNITS)")
    field(PREC, "$(PRECISION)")

    info(INTEREST, "MEDIUM")
    info(ARCHIVE,  "VAL")

    field(SDIS, "$(P)DISABLE")
    field(SIML, "$(P)SIM")
    field(SIOL, "$(P)SIM:$(PV)")
}

record(ao,"$(P)SIM:$(PV)")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
}
