
record (ai, "$(P)$(PV)") {

    field(DESC, "$(DESC)")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT)$(PORTNAME),$(OFFSET))INT16")
    field(SCAN, "I/O Intr")

    info(INTEREST, "LOW")
    info(ARCHIVE,  "VAL")

    field(SDIS, "$(P)DISABLE")
    field(SIML, "$(P)SIM")
    field(SIOL, "$(P)SIM:$(PV)")
}

record(ao,"$(P)SIM:$(PV)")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
}
