
record (mbbi, "$(P)$(PV)") {

    field(DESC, "$(DESC)")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT)$(PORTNAME),$(OFFSET))UINT16")
    field(SCAN, "I/O Intr")

    field(ZRVL, 0)
    field(ZRST, "Comms Loss")
    field(ZRSV, "INVALID")

    field(ONVL, 1)
    field(ONST, "Closed")
    field(ONSV, "NO_ALARM")

    field(TWVL, 2)
    field(TWST, "Open")
    field(TWSV, "NO_ALARM")

    field(THVL, 3)
    field(THST, "Sweeping / In-Between")
    field(THSV, "MINOR")

    field(FRVL, 4)
    field(FRST, "Fault")
    field(FRSV, "MAJOR")

    info(INTEREST, "MEDIUM")
    info(ARCHIVE,  "VAL")

    field(SDIS, "$(P)DISABLE")
    field(SSCN, "Passive")
    field(SIML, "$(P)SIM")
    field(SIOL, "$(P)SIM:$(PV) CP")
}

record(longout,"$(P)SIM:$(PV)") {

    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
}
