
record (mbbi, "$(P)$(PV)") {

    field(DESC, "$(DESC)")
    field(DTYP, "asynInt32")

    field(ZRVL, 0)
    field(ZRST, "Comms Loss")
    field(ZRSV, "INVALID")

    field(ONVL, 1)
    field(ONST, "Not Used")
    field(ONSV, "NO_ALARM")

    field(TWVL, 2)
    field(TWST, "Healthy")
    field(TWSV, "NO_ALARM")

    field(THVL, 3)
    field(THST, "Warning")
    field(THSV, "MINOR")

    field(FRVL, 4)
    field(FRST, "Fault")
    field(FRSV, "MAJOR")

    field(INP,  "@asyn($(PORT)$(PORTNAME),$(OFFSET))UINT16")
    field(SCAN, "I/O Intr")
    info(INTEREST, "MEDIUM")
    info(archive, "VAL")
}
