
record (mbbi, "$(P)$(PV)") {

    field(DESC, "$(DESC)")
    field(DTYP, "asynInt32")
    field(ZRVL, 0)
    field(ONVL, 1)
    field(TWVL, 2)
    field(THVL, 3)
    field(FRVL, 4)
    field(ZRST, "Comms Loss")
    field(ONST, "Off")
    field(TWST, "Running")
    field(THST, "Warning")
    field(FRST, "Fault")
    field(INP,  "@asyn($(PORT)$(PORTNAME),$(OFFSET))UINT16")
    field(SCAN, "I/O Intr")
    info(INTEREST, "MEDIUM")
    info(archive, "VAL")
}
