
record (mbbi, "$(P)$(RBOX_PV)") {

    field(DESC, "$(RBOX_DESC)")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT)$(PORTNAME),$(RBOX_OFFSET))UINT16")
    field(SCAN, "I/O Intr")

    field(ZRVL, 0)
    field(ZRST, "Comms Loss")
    field(ZRSV, "INVALID")

    field(ONVL, 1)
    field(ONST, "Not Used")
    field(ONSV, "NO_ALARM")

    field(TWVL, 2)
    field(TWST, "Door Closed")
    field(TWSV, "NO_ALARM")

    field(THVL, 3)
    field(THST, "Warning")
    field(THSV, "MINOR")

    field(FRVL, 4)
    field(FRST, "Door Open")
    field(FRSV, "MAJOR")

    info(INTEREST, "MEDIUM")
    info(ARCHIVE,  "VAL")

    field(SDIS, "$(P)DISABLE")
    field(SIML, "$(P)SIM")
    field(SIOL, "$(P)SIM:$(RBOX_PV)")
}

record(longout,"$(P)SIM:$(RBOX_PV)")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
}

record (mbbi, "$(P)$(BYPASS_PV)") {

    field(DESC, "$(BYPASS_DESC)")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT)$(PORTNAME),$(BYPASS_OFFSET))UINT16")
    field(SCAN, "I/O Intr")

    field(ZRVL, 0)
    field(ZRST, "Comms Loss")
    field(ZRSV, "INVALID")

    field(ONVL, 1)
    field(ONST, "Not Used")
    field(ONSV, "NO_ALARM")

    field(TWVL, 2)
    field(TWST, "Bypass Off")
    field(TWSV, "NO_ALARM")

    field(THVL, 3)
    field(THST, "Bypass On")
    field(THSV, "MINOR")

    field(FRVL, 4)
    field(FRST, "Fault")
    field(FRSV, "MAJOR")

    info(INTEREST, "MEDIUM")
    info(ARCHIVE,  "VAL")

    field(SDIS, "$(P)DISABLE")
    field(SIML, "$(P)SIM")
    field(SIOL, "$(P)SIM:$(BYPASS_PV)")
}

record(longout,"$(P)SIM:$(BYPASS_PV)")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
}
