
record (longin, "$(P)$(PV):RAW") {

    field(DESC, "$(DESC) raw value")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT)$(PORTNAME),$(OFFSET))UINT16")
    field(SCAN, "I/O Intr")

    field(EGU,  "")
    info(INTEREST, "LOW")
    info(ARCHIVE,  "VAL")

    field(SDIS, "$(P)DISABLE")
    field(SIML, "$(P)SIM")
    field(SIOL, "$(P)SIM:$(PV):RAW")
}

record(longout,"$(P)SIM:$(PV):RAW")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
}

record (mbbiDirect, "$(P)$(PV)") {

    field(DESC, "$(DESC)")
    field(DTYP, "Raw Soft Channel")
    field(INP,  "$(P)$(PV):RAW CP MS")

    info(INTEREST, "LOW")
    info(ARCHIVE,  "VAL")
}

record (bi, "$(P)$(PV):$(BIT0PV):STAT") {

    field(DESC, "$(BIT0DESC) Status")
    field(INP,  "$(P)$(PV).B0 CP MS")
    field(ZNAM, "$(BIT0ZNAM)")
    field(ONAM, "$(BIT0ONAM)")

    info(INTEREST, "MEDIUM")
    info(ARCHIVE,  "VAL")
}

record (bi, "$(P)$(PV):$(BIT1PV):STAT") {

    field(DESC, "$(BIT1DESC) Status")
    field(INP,  "$(P)$(PV).B1 CP MS")
    field(ZNAM, "$(BIT1ZNAM)")
    field(ONAM, "$(BIT1ONAM)")

    info(INTEREST, "MEDIUM")
    info(ARCHIVE,  "VAL")
}

record (bi, "$(P)$(PV):$(BIT2PV):STAT") {

    field(DESC, "$(BIT2DESC) Status")
    field(INP,  "$(P)$(PV).B2 CP MS")
    field(ZNAM, "$(BIT2ZNAM)")
    field(ONAM, "$(BIT2ONAM)")

    info(INTEREST, "MEDIUM")
    info(ARCHIVE,  "VAL")
}

record (bi, "$(P)$(PV):$(BIT3PV):STAT") {

    field(DESC, "$(BIT3DESC) Status")
    field(INP,  "$(P)$(PV).B3 CP MS")
    field(ZNAM, "$(BIT3ZNAM)")
    field(ONAM, "$(BIT3ONAM)")

    info(INTEREST, "MEDIUM")
    info(ARCHIVE,  "VAL")
}

record (bi, "$(P)$(PV):$(BIT4PV):STAT") {

    field(DESC, "$(BIT4DESC) Status")
    field(INP,  "$(P)$(PV).B4 CP MS")
    field(ZNAM, "$(BIT4ZNAM)")
    field(ONAM, "$(BIT4ONAM)")

    info(INTEREST, "MEDIUM")
    info(ARCHIVE,  "VAL")
}

record (bi, "$(P)$(PV):$(BIT5PV):STAT") {

    field(DESC, "$(BIT5DESC) Status")
    field(INP,  "$(P)$(PV).B5 CP MS")
    field(ZNAM, "$(BIT5ZNAM)")
    field(ONAM, "$(BIT5ONAM)")

    info(INTEREST, "MEDIUM")
    info(ARCHIVE,  "VAL")
}

record (bi, "$(P)$(PV):$(BIT6PV):STAT") {

    field(DESC, "$(BIT6DESC) Status")
    field(INP,  "$(P)$(PV).B6 CP MS")
    field(ZNAM, "$(BIT6ZNAM)")
    field(ONAM, "$(BIT6ONAM)")

    info(INTEREST, "MEDIUM")
    info(ARCHIVE,  "VAL")
}

record (bi, "$(P)$(PV):$(BIT7PV):STAT") {

    field(DESC, "$(BIT7DESC) Status")
    field(INP,  "$(P)$(PV).B7 CP MS")
    field(ZNAM, "$(BIT7ZNAM)")
    field(ONAM, "$(BIT7ONAM)")

    info(INTEREST, "MEDIUM")
    info(ARCHIVE,  "VAL")
}

record (bi, "$(P)$(PV):$(BIT8PV):STAT") {

    field(DESC, "$(BIT8DESC) Status")
    field(INP,  "$(P)$(PV).B8 CP MS")
    field(ZNAM, "$(BIT8ZNAM)")
    field(ONAM, "$(BIT8ONAM)")

    info(INTEREST, "MEDIUM")
    info(ARCHIVE,  "VAL")
}
