
record (ai, "$(P)$(PV)") {

    field(DESC, "$(DESC)")
    field(EGU,  "$(UNITS)")
    field(PREC, "$(PRECISION)")
    field(DTYP, "asynFloat64")
    field(INP,  "@asyn($(PORT)$(PORTNAME),$(OFFSET))FLOAT32_LE")
    field(SCAN, "I/O Intr")
    # TODO Archive, Interest level fields
}
