record (calc, "$(P)$(PV):GH") {

    field(DESC, "$(DESC) GH summary.")
    field(INPA, "$(P)$(GH1):STAT CP MSS")
    field(INPB, "$(P)$(GH2):STAT CP MSS")
    field(INPC, "$(P)$(GH3):STAT CP MSS")
    field(INPD, "$(P)$(GH4):STAT CP MSS")

    field(CALC, "(A==2)&&(B==2)&&(C==2)&&(D==2)")
}

record (calc, "$(P)$(PV):OTHER"){
    field(DESC, "$(DESC) Other summary.")
    field(INPA, "$(P)TP$(NUM):STAT CP MSS")
    field(INPB, "$(P)BP$(NUM):STAT CP MSS")
    field(INPC, "$(P)PIV$(NUM):STAT CP MSS")
    field(CALC, "(A==1||A==2||A==3)&&(B==1||B==2||B==3)&&(C==1||C==2||C==3)")
}

record (calc, "$(P)$(PV):STAT") {

    field(DESC, "$(DESC) summary.")
    field(INPA, "$(P)$(PV):GH CP MSS")
    field(INPB, "$(P)$(PV):OTHER CP MSS")
    field(CALC, "A&&B")
}