
record (mbbi, "$(P)$(PV)") {

    field(DESC, "$(DESC)")
    $(IFNOTRECSIM) field(DTYP, "asynInt32")
    $(IFNOTRECSIM) field(INP,  "@asyn($(PORT)$(PORTNAME),$(OFFSET))UINT16")
    $(IFNOTRECSIM) field(SCAN, "I/O Intr")

    field(ZRVL, 0)
    field(ZRST, "Comms OK")

    field(ONVL, 1)
    field(ONST, "BP Running")

    field(TWVL, 2)
    field(TWST, "TP Panel Inst OK")

    field(THVL, 3)
    field(THST, "TP No Error")

    field(FRVL, 4)
    field(FRST, "TP Up to Speed")

    field(FVVL, 5)
    field(FVST, "$(GH_A) OK")

    field(SXVL, 6)
    field(SXST, "$(GH_B) OK")

    field(FFVL, 15)
    field(FFST, "Interlocks Bypassed")

    info(INTEREST, "MEDIUM")
    info(ARCHIVE,  "VAL")

    field(SDIS, "$(P)DISABLE")
    field(SSCN, "Passive")
    field(SIML, "$(P)SIM")
    field(SIOL, "$(P)SIM:$(PV) CP")
}

record(longout,"$(P)SIM:$(PV)") {

    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
}
