<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>ISIS MK2 Chopper</ioc_desc>
<macros>
<xi:include href="../../../COMMON/PORT.xml" />
<xi:include href="../../../COMMON/BAUD9600.xml" />
<macro name="PARITY" pattern="^(even|odd)$" description="Parity (default: even)" defaultValue="even" hasDefault="YES" />
</macros>
</config_part>
</ioc_config>
