<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>Technix Power Supply</ioc_desc>
<macros>
<xi:include href="../../../COMMON/PORT.xml" />
<xi:include href="../../../COMMON/BAUD9600.xml" />
<xi:include href="../../../COMMON/BITS8.xml" />
<xi:include href="../../../COMMON/PARITYNONE.xml" />
<xi:include href="../../../COMMON/STOP1.xml" />

<macro name="MAX_VOLT" pattern="^[0-9]*\.?[0-9]*$" description="Maximum voltage in kV" hasDefault="NO" />
<macro name="MAX_CURR" pattern="^[0-9]*\.?[0-9]*$" description="Maximum current in mA" hasDefault="NO" />
<macro name="LIMIT_ALARM" pattern="^(MAJOR|MINOR|NO_ALARM)$" description="Alarm to use for outside softlimit" defaultValue="NO_ALARM" hasDefault="YES" />

</macros>
<pvsets>
</pvsets>
</config_part>
</ioc_config>
