<?xml version="1.0" ?>		
 <ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">		
 <config_part>		
 <ioc_desc>Engin-X Collimators</ioc_desc>		
 <macros>		
 <!-- check st-port.cmd for defaults -->		
 <macro name="LVDCOM_HOST" pattern="^[A-Z0-9]+$" description="lvDCOM host" />		
 <macro name="LVDCOM_OPTIONS" pattern="^[A-Z0-9]+$" description="lvDCOM options" />		
 <macro name="LVDCOM_PROGID" pattern="^[A-Z0-9]+$" description="lvDCOM program ID" />		
 </macros>		
 </config_part>		
</ioc_config>