<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>Astrium Chopper</ioc_desc>
<macros>
<macro name="IP_ADDR" pattern="^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$" description="IP address of the chopper machine" hasDefault="NO" />
<macro name="IP_PORT" pattern="^[0-9]+$" description="IP port to communicate with chopper machine" hasDefault="NO" />
</macros>
</config_part>
</ioc_config>
