<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>Attocube motor controller</ioc_desc>
<ioc_details>Attocube Motor Details</ioc_details>
<macros>
<macro name="IP_ADDR" pattern="^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$" description="IP address of the controller" />
<macro name="MTRCTRL" pattern="^[0-9]{1,2}$" description="Controller number used in motor address assignment" />
</macros>
</pvsets>
</config_part>
</ioc_config>
