record(ai, "$(P)$(CHAN):RAW")
{
    field(SCAN, "1 second")
    field(DTYP, "stream")
    field(INP, "@devInstron.proto getCurrentFeedback($(CHAN_NUM)) $(PORT)")
    field(PREC, "3")
#    field(FLNK, "$(P)$(CHAN):TO")
    field(SIML, "$(P)SIM")
    field(SIOL, "$(P)$(CHAN):SIM:RAW")
    field(SDIS, "$(P)DISABLE")
}

record(ai, "$(P)$(CHAN)")
{
    field(DESC, "The current value of the $(CHAN) channel")
    field(DTYP, "Soft Channel")
    field(PREC, "3")
    field(EGU, "$(CHAN_UNITS)")
    info(INTEREST, "HIGH")
    info(archive, "VAL")
    field(SIML, "$(P)SIM")
    field(SIOL, "$(P)$(CHAN):SIM:VALUE")
    field(SDIS, "$(P)DISABLE")
}

record(ai, "$(P)$(CHAN):SCALE")
{
    field(DESC, "The scale of the $(CHAN) channel")
    field(SCAN, "1 second")
    field(DTYP, "stream")
    field(INP, "@devInstron.proto getChanScale($(CHAN_NUM)) $(PORT)")
    field(PREC, "3")
    # Dimensionless
    field(EGU, "")
    info(INTEREST, "HIGH")
    info(archive, "VAL")
    field(SIML, "$(P)SIM")
    field(SIOL, "$(P)$(CHAN):SIM:SCALE")
    field(SDIS, "$(P)DISABLE")
}
