record(ai, "$(P)$(CHAN):RAW")
{
    field(SCAN, "1 second")
    field(DTYP, "stream")
    field(INP, "@devInstron.proto getCurrentFeedback($(CHAN_NUM)) $(PORT)")
    field(PREC, "3")
    field(SIML, "$(P)SIM")
    field(SIOL, "$(P)$(CHAN):SIM:RAW")
    field(SDIS, "$(P)DISABLE")
}
