record(bi, "$(P)ILK:$(ILKNAME)") {
	field(DESC, "Interlock: $(ILKNAME)")
	field(INP, "$(P)ILK.$(FIELD) CP MS")
	field(ZNAM, "Inactive")
	field(ONAM, "Active")
	info(archive, "VAL")
	info(interest, "MEDIUM")
}
