<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>Transtechnik Power Supply</ioc_desc>
<macros>
<macro name="PORT" pattern="^COM[0-9]+$" description="Serial COM port" hasDefault="NO" />
<macro name="BAUD" pattern="^[0-9]+$" description="Serial communication baud rate, defaults to 9600." defaultValue="9600" hasDefault="YES" />
<macro name="BITS" pattern="^[0-9]$" description="Serial communication number of bits, defaults to 8." defaultValue="8" hasDefault="YES" />
<macro name="PARITY" pattern="^(even)|(odd)|(none)$" description="Serial communication parity, defaults to none." defaultValue="none" hasDefault="YES" />
<macro name="STOP" pattern="^[0-9]$" description="Serial communication stop bit, defaults to 1." defaultValue="1" hasDefault="YES" />
<macro name="PS_ADDR" pattern="^[0-9]{3}$" description="3-digit address of power supply (e.g. 001)" defaultValue="001" hasDefault="YES" />
<macro name="VOLT_FULLSCALE" pattern="^[0-9]+$" description="Full-scale voltage of this power supply" defaultValue="125" hasDefault="YES" />
<macro name="CURR_FULLSCALE" pattern="^[0-9]+$" description="Full-scale current of this power supply" defaultValue="500" hasDefault="YES" />
<macro name="LIMIT_ALARM" pattern="^(MAJOR|MINOR|NO_ALARM)$" description="Alarm to use for outside softlimit" defaultValue="NO_ALARM" hasDefault="YES" />
</macros>
<pvsets>
</pvsets>
</config_part>
</ioc_config>
