# Magnetometer reads - axis $(AXIS)

record(ai, "$(P)MAGNETOMETER:$(AXIS):_RAW") {
  field(INP, "$(MAGNETOMETER_$(AXIS)) CA MSS")
  field(EGU, "mG")
  field(PREC, "6")
  
  field(FLNK, "$(RAW_RECORD_FLNK)")
  
  info(archive, "VAL")
}

record(calc, "$(P)MAGNETOMETER:$(AXIS)") {
  field(INPA, "$(P)MAGNETOMETER:$(AXIS):_RAW CP MS")
  field(INPB, "$(P)STATUS CP MS")
  field(CALC, "A")
  field(EGU, "mG")
  field(PREC, "6")
  info(archive, "VAL")
}

# Field setpoints/readbacks - axis $(AXIS)

record(ao, "$(P)FIELD:$(AXIS):SP") {
  field(DESC, "Field setpoint $(AXIS)")
  field(EGU, "mG")
  field(PREC, "6")
  
  info(archive, "VAL")
}

alias("$(P)MAGNETOMETER:$(AXIS)", "$(P)FIELD:$(AXIS)")

# Proportional feedback factors - axis $(AXIS)

record(ao, "$(P)P:$(AXIS)") {
  field(DESC, "Amps per mG - $(AXIS) axis")
  field(EGU, "A/mG")
  field(PREC, "6")
  
  info(interest, "HIGH")
  info(archive, "VAL")
}

alias("$(P)P:$(AXIS)", "$(P)P:$(AXIS):SP")

# Power supply outputs - axis $(AXIS)

record(ai, "$(P)OUTPUT:$(AXIS):CURR") {
  field(EGU, "A")
  field(INP, "$(PSU_$(AXIS)):$(CURRENT_PV_NAME) CPP MSS")
  field(PREC, "6")
  field(LOLO, "$(OUTPUT_$(AXIS)_MIN)")
  field(HIHI, "$(OUTPUT_$(AXIS)_MAX)")
  field(HHSV, "MAJOR")
  field(LLSV, "MAJOR")
  
  info(interest, "MEDIUM")
  info(archive, "VAL")
}

record(ao, "$(P)OUTPUT:$(AXIS):CURR:SP") {
  field(EGU, "A")
  field(DRVL, "$(OUTPUT_$(AXIS)_MIN)")
  field(DRVH, "$(OUTPUT_$(AXIS)_MAX)")
  field(LOLO, "$(OUTPUT_$(AXIS)_MIN)")
  field(HIHI, "$(OUTPUT_$(AXIS)_MAX)")
  field(HHSV, "MAJOR")
  field(LLSV, "MAJOR")
  field(OUT, "$(PSU_$(AXIS)):$(CURRENT_PV_NAME):SP CA")
  field(PREC, "6")
  
  # Explicitly process it, as EPICS documentation suggests PP over CA
  # may not necessarily cause the record on the other end to process.
  field(FLNK, "$(PSU_$(AXIS)):$(CURRENT_PV_NAME):SP.PROC CA")
  
  info(archive, "VAL DRVL DRVH")
}

record(ai, "$(P)OUTPUT:$(AXIS):CURR:SP:RBV") {
  field(EGU, "A")
  field(INP, "$(PSU_$(AXIS)):$(CURRENT_PV_NAME):SP:RBV CPP MSS")
  field(PREC, "6")
  field(LOLO, "$(OUTPUT_$(AXIS)_MIN)")
  field(HIHI, "$(OUTPUT_$(AXIS)_MAX)")
  field(HHSV, "MAJOR")
  field(LLSV, "MAJOR")
  
  info(archive, "VAL")
}

record(bi, "$(P)OUTPUT:$(AXIS):STATUS") {
  field(INP, "$(PSU_$(AXIS)):OUTPUTSTATUS CPP MSS")
  field(ZNAM, "Off")
  field(ONAM, "On")
  
  info(archive, "VAL")
}

record(bo, "$(P)OUTPUT:$(AXIS):STATUS:SP") {
  field(OUT, "$(PSU_$(AXIS)):OUTPUTSTATUS:SP CA")
  field(ZNAM, "Off")
  field(ONAM, "On")
  
  # Explicitly process it, as EPICS documentation suggests PP over CA
  # may not necessarily cause the record on the other end to process.
  field(FLNK, "$(PSU_$(AXIS)):OUTPUTSTATUS:SP.PROC CA")
  
  info(archive, "VAL")
}

record(bi, "$(P)OUTPUT:$(AXIS):MODE") {
  field(INP, "$(PSU_$(AXIS)):OUTPUTMODE CPP MSS")
  field(ZNAM, "Voltage")  field(ZSV, "MAJOR")  # Should never be in Voltage mode for the IOC to work correctly.
  field(ONAM, "Current")
  
  info(archive, "VAL")
}

record(bo, "$(P)OUTPUT:$(AXIS):MODE:SP") {
  field(OUT, "$(PSU_$(AXIS)):OUTPUTMODE:SP CA")
  field(ZNAM, "Voltage")
  field(ONAM, "Current")
  
  # Explicitly process it, as EPICS documentation suggests PP over CA
  # may not necessarily cause the record on the other end to process.
  field(FLNK, "$(PSU_$(AXIS)):OUTPUTMODE:SP.PROC CA")
  
  info(archive, "VAL")
}

record(ai, "$(P)OUTPUT:$(AXIS):VOLT") {
  field(EGU, "V")
  field(SCAN, ".1 second")
  field(INP, "$(PSU_$(AXIS)):$(VOLTAGE_PV_NAME) CA MSS")
  field(PREC, "6")
  
  info(archive, "VAL")
}
