# Field setpoints/readbacks - axis $(AXIS)

record(ai, "$(P)FIELD:$(AXIS):_RAW") {
  field(INP, "$(MAGNETOMETER):$(AXIS):CORRECTEDFIELD CA MSS")
  field(EGU, "mG")
  field(PREC, "6")
  
  field(FLNK, "$(P)FIELD:$(AXIS):MEAS:_RAW")
}

record(calc, "$(P)FIELD:$(AXIS)") {
  field(DESC, "Corrected field - axis $(AXIS)")
  field(INPA, "$(P)FIELD:$(AXIS):_RAW CP MS")
  field(INPB, "$(P)STATUS CP MS")
  field(CALC, "A")
  field(EGU, "mG")
  field(PREC, "6")
  info(archive, "VAL")
  info(interest, "HIGH")
  info(alarm, "ZFCNTRL")
  field(ASG, "READONLY")
}


record(ai, "$(P)FIELD:$(AXIS):MEAS:_RAW") {
  field(INP, "$(MAGNETOMETER):$(AXIS):APPLYOFFSET CA MSS")
  field(EGU, "mG")
  field(PREC, "6")
  
  field(FLNK, "$(RAW_RECORD_FLNK)")
}

record(calc, "$(P)FIELD:$(AXIS):MEAS") {
  field(DESC, "Measured field - axis $(AXIS)")
  field(INPA, "$(P)FIELD:$(AXIS):MEAS:_RAW CP MS")
  field(INPB, "$(P)STATUS CP MS")
  field(CALC, "A")
  field(EGU, "mG")
  field(PREC, "6")
  info(archive, "VAL")
  info(interest, "HIGH")
  info(alarm, "ZFCNTRL")
  field(ASG, "READONLY")
}

record(ao, "$(P)FIELD:$(AXIS):SP") {
  field(DESC, "Field setpoint $(AXIS)")
  field(EGU, "mG")
  field(PREC, "6")
  
  info(archive, "VAL")
}

# Proportional feedback factors - axis $(AXIS)

record(ao, "$(P)P:$(AXIS)") {
  field(DESC, "Amps per mG - $(AXIS) axis")
  field(EGU, "A/mG")
  field(PREC, "6")
  field(VAL, "$(AMPS_PER_MG_$(AXIS))")
  field(PINI, "YES")
  
  info(interest, "HIGH")
  info(archive, "VAL")
}

alias("$(P)P:$(AXIS)", "$(P)P:$(AXIS):SP")

# Power supply outputs - axis $(AXIS)

record(ai, "$(P)OUTPUT:$(AXIS):CURR") {
  field(DESC, "Current - axis $(AXIS)")
  field(EGU, "A")
  field(INP, "$(PSU_$(AXIS)):CURRENT CPP MSS")
  field(PREC, "6")
  field(LOLO, "$(OUTPUT_$(AXIS)_MIN)")
  field(HIHI, "$(OUTPUT_$(AXIS)_MAX)")
  field(HHSV, "MAJOR")
  field(LLSV, "MAJOR")
  
  info(interest, "MEDIUM")
  info(archive, "VAL")
  info(alarm, "ZFCNTRL")
}

record(ao, "$(P)OUTPUT:$(AXIS):CURR:SP") {
  field(DESC, "Current setpoint - axis $(AXIS)")
  field(EGU, "A")
  field(DRVL, "$(OUTPUT_$(AXIS)_MIN)")
  field(DRVH, "$(OUTPUT_$(AXIS)_MAX)")
  field(LOLO, "$(OUTPUT_$(AXIS)_MIN)")
  field(HIHI, "$(OUTPUT_$(AXIS)_MAX)")
  field(HHSV, "MAJOR")
  field(LLSV, "MAJOR")
  field(OUT, "$(PSU_$(AXIS)):CURRENT:SP CA")
  field(PREC, "6")
  
  # Explicitly process it, as EPICS documentation suggests PP over CA
  # may not necessarily cause the record on the other end to process.
  field(FLNK, "$(PSU_$(AXIS)):CURRENT:SP.PROC CA")
  
  info(archive, "VAL DRVL DRVH")
}

record(ai, "$(P)OUTPUT:$(AXIS):CURR:SP:RBV") {
  field(DESC, "Current setpoint readback- axis $(AXIS)")
  field(EGU, "A")
  field(INP, "$(PSU_$(AXIS)):CURRENT:SP:RBV CPP MSS")
  field(PREC, "6")
  field(LOLO, "$(OUTPUT_$(AXIS)_MIN)")
  field(HIHI, "$(OUTPUT_$(AXIS)_MAX)")
  field(HHSV, "MAJOR")
  field(LLSV, "MAJOR")
  
  info(archive, "VAL")
  info(alarm, "ZFCNTRL")
}

record(bi, "$(P)OUTPUT:$(AXIS):STATUS") {
  field(DESC, "Output status - axis $(AXIS)")
  field(INP, "$(PSU_$(AXIS)):OUTPUTSTATUS CPP MSS")
  field(ZNAM, "Off")
  field(ONAM, "On")
  
  info(archive, "VAL")
  info(alarm, "ZFCNTRL")
  info(interest, "LOW")
}

record(bo, "$(P)OUTPUT:$(AXIS):STATUS:SP") {
  field(DESC, "Output status setpoint - axis $(AXIS)")
  field(OUT, "$(PSU_$(AXIS)):OUTPUTSTATUS:SP CA")
  field(ZNAM, "Off")
  field(ONAM, "On")
  
  # Explicitly process it, as EPICS documentation suggests PP over CA
  # may not necessarily cause the record on the other end to process.
  field(FLNK, "$(PSU_$(AXIS)):OUTPUTSTATUS:SP.PROC CA")
  
  info(archive, "VAL")
}

record(bi, "$(P)OUTPUT:$(AXIS):MODE") {
  field(DESC, "Output mode - axis $(AXIS)")
  field(INP, "$(PSU_$(AXIS)):OUTPUTMODE CPP MSS")
  field(ZNAM, "Voltage")  field(ZSV, "MAJOR")  # Should never be in Voltage mode for the IOC to work correctly.
  field(ONAM, "Current")
  
  info(archive, "VAL")
  info(alarm, "ZFCNTRL")
  info(interest, "LOW")
}

record(bo, "$(P)OUTPUT:$(AXIS):MODE:SP") {
  field(DESC, "Output mode setpoint - axis $(AXIS)")
  field(OUT, "$(PSU_$(AXIS)):OUTPUTMODE:SP CA")
  field(ZNAM, "Voltage")
  field(ONAM, "Current")
  
  # Explicitly process it, as EPICS documentation suggests PP over CA
  # may not necessarily cause the record on the other end to process.
  field(FLNK, "$(PSU_$(AXIS)):OUTPUTMODE:SP.PROC CA")
  
  info(archive, "VAL")
}

record(ai, "$(P)OUTPUT:$(AXIS):VOLT") {
  field(DESC, "Voltage - axis $(AXIS)")
  field(EGU, "V")
  field(INP, "$(PSU_$(AXIS)):VOLTAGE CPP MSS")
  field(PREC, "6")
  
  info(archive, "VAL")
  info(interest, "LOW")
}

record(ao, "$(P)OUTPUT:$(AXIS):VOLT:SP") {
  field(DESC, "Voltage setpoint - axis $(AXIS)")
  field(EGU, "V")
  field(OUT, "$(PSU_$(AXIS)):VOLTAGE:SP CA")
  field(PREC, "6")
  
  # Explicitly process it, as EPICS documentation suggests PP over CA
  # may not necessarily cause the record on the other end to process.
  field(FLNK, "$(PSU_$(AXIS)):VOLTAGE:SP.PROC CA")
  
  info(archive, "VAL")
}

record(ai, "$(P)OUTPUT:$(AXIS):VOLT:SP:RBV") {
  field(DESC, "Voltage setpoint readback - axis $(AXIS)")
  field(EGU, "V")
  field(INP, "$(PSU_$(AXIS)):VOLTAGE:SP:RBV CPP MSS")
  field(PREC, "6")
  
  info(archive, "VAL")
}
