<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
 <config_part>
  <ioc_desc>Helium Level Meter</ioc_desc>
  <ioc_details>Helium Level Meter V1 from Cryogenic Ltd</ioc_details>
  <macros>
    <macro name="PORT" pattern="^COM[0-9]+$" description="Serial COM Port" hasDefault="NO" />
    <macro name="BAUD" pattern="^[0-9]+$" description="Serial communication baud rate, defaults to 9600." defaultValue="9600" hasDefault="YES" />
    <macro name="BITS" pattern="^[0-9]$" description="Serial communication number of bits, defaults to 8." defaultValue="8" hasDefault="YES" />
    <macro name="PARITY" pattern="^(even)|(odd)|(none)$" description="Serial communication parity, defaults to none." defaultValue="none" hasDefault="YES" />
    <macro name="STOP" pattern="^[0-9]$" description="Serial communication stop bit, defaults to 1." defaultValue="1" hasDefault="YES" />
    
    <macro name="HIHI_LEVEL_ALARM" pattern="^[-+]?[0-9]*\.?[0-9]+$" description="Level above which a major alarm should be triggered." hasDefault="UNKNOWN" />
    <macro name="HIGH_LEVEL_ALARM" pattern="^[-+]?[0-9]*\.?[0-9]+$" description="Level above which a minor alarm should be triggered." hasDefault="UNKNOWN" />
    <macro name="LOW_LEVEL_ALARM" pattern="^[-+]?[0-9]*\.?[0-9]+$" description="Level below which a minor alarm should be triggered." hasDefault="UNKNOWN" />
    <macro name="LOLO_LEVEL_ALARM" pattern="^[-+]?[0-9]*\.?[0-9]+$" description="Level below which a major alarm should be triggered." hasDefault="UNKNOWN" />
  </macros>
 </config_part>
</ioc_config>
