<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>Newport XPS-D controller</ioc_desc>
<ioc_details>IOC to control the Newport XPS-D and connected axes</ioc_details>
<macros>

<macro name="MTRCTRL" pattern="^[0-9]{1,2}$" description="Controller number used in motor address assignment" hasDefault="UNKNOWN" />
<macro name="HOSTNAME" pattern="^.*$" description="Hostname of the controller" hasDefault="NO" />

<macro name="AXIS1" pattern="^(yes|no)$" description="Motor is attached to axis 1 (default: no)" defaultValue="no" hasDefault="YES" />
<macro name="AXIS2" pattern="^(yes|no)$" description="Motor is attached to axis 2 (default: no)" defaultValue="no" hasDefault="YES" />
<macro name="AXIS3" pattern="^(yes|no)$" description="Motor is attached to axis 3 (default: no)" defaultValue="no" hasDefault="YES" />
<macro name="AXIS4" pattern="^(yes|no)$" description="Motor is attached to axis 4 (default: no)" defaultValue="no" hasDefault="YES" />

<macro name="UNIT1" pattern="^[A-Za-z]*$" description="Units (default: mm)" defaultValue="mm" hasDefault="YES" />
<macro name="UNIT2" pattern="^[A-Za-z]*$" description="Units (default: mm)" defaultValue="mm" hasDefault="YES" />
<macro name="UNIT3" pattern="^[A-Za-z]*$" description="Units (default: mm)" defaultValue="mm" hasDefault="YES" />
<macro name="UNIT4" pattern="^[A-Za-z]*$" description="Units (default: mm)" defaultValue="mm" hasDefault="YES" />

<macro name="VELO1" pattern="^[0-9]*\.?[0-9]*$" description="Velocity, units/s, where length units are defined in the corresponding MSTP macro (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="VELO2" pattern="^[0-9]*\.?[0-9]*$" description="Velocity, units/s, where length units are defined in the corresponding MSTP macro (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="VELO3" pattern="^[0-9]*\.?[0-9]*$" description="Velocity, units/s, where length units are defined in the corresponding MSTP macro (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="VELO4" pattern="^[0-9]*\.?[0-9]*$" description="Velocity, units/s, where length units are defined in the corresponding MSTP macro (default: 1)" defaultValue="1" hasDefault="YES" />

<macro name="JVEL1" pattern="^[0-9]*\.?[0-9]*$" description="Jog velocity, units/s (default: VELO1/10)" defaultValue="VELO1/10" hasDefault="YES" />
<macro name="JVEL2" pattern="^[0-9]*\.?[0-9]*$" description="Jog velocity, units/s (default: VELO2/10)" defaultValue="VELO2/10" hasDefault="YES" />
<macro name="JVEL3" pattern="^[0-9]*\.?[0-9]*$" description="Jog velocity, units/s (default: VELO3/10)" defaultValue="VELO3/10" hasDefault="YES" />
<macro name="JVEL4" pattern="^[0-9]*\.?[0-9]*$" description="Jog velocity, units/s (default: VELO4/10)" defaultValue="VELO4/10" hasDefault="YES" />

<macro name="ACCL1" pattern="^[0-9]*\.?[0-9]*$" description="Seconds to max speed (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="ACCL2" pattern="^[0-9]*\.?[0-9]*$" description="Seconds to max speed (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="ACCL3" pattern="^[0-9]*\.?[0-9]*$" description="Seconds to max speed (default: 1)" defaultValue="1" hasDefault="YES" />
<macro name="ACCL4" pattern="^[0-9]*\.?[0-9]*$" description="Seconds to max speed (default: 1)" defaultValue="1" hasDefault="YES" />

<macro name="MSTP1" pattern="^[0-9]*\.?[0-9]*$" description="Motor resolution in steps/unit (default: 4000)" defaultValue="4000" hasDefault="YES" />
<macro name="MSTP2" pattern="^[0-9]*\.?[0-9]*$" description="Motor resolution in steps/unit (default: 4000)" defaultValue="4000" hasDefault="YES" />
<macro name="MSTP3" pattern="^[0-9]*\.?[0-9]*$" description="Motor resolution in steps/unit (default: 4000)" defaultValue="4000" hasDefault="YES" />
<macro name="MSTP4" pattern="^[0-9]*\.?[0-9]*$" description="Motor resolution in steps/unit (default: 4000)" defaultValue="4000" hasDefault="YES" />

<macro name="ERES1" pattern="^-?[0-9]+/[0-9]+$" description="Encoder ratio (default: 400/4096)" defaultValue="400/4096" hasDefault="YES" />
<macro name="ERES2" pattern="^-?[0-9]+/[0-9]+$" description="Encoder ratio (default: 400/4096)" defaultValue="400/4096" hasDefault="YES" />
<macro name="ERES3" pattern="^-?[0-9]+/[0-9]+$" description="Encoder ratio (default: 400/4096)" defaultValue="400/4096" hasDefault="YES" />
<macro name="ERES4" pattern="^-?[0-9]+/[0-9]+$" description="Encoder ratio (default: 400/4096)" defaultValue="400/4096" hasDefault="YES" />

<macro name="DHLM1" pattern="^-?[0-9]*\.?[0-9]*$" description="Position upper limit (default: 200)" defaultValue="200" hasDefault="YES" />
<macro name="DHLM2" pattern="^-?[0-9]*\.?[0-9]*$" description="Position upper limit (default: 200)" defaultValue="200" hasDefault="YES" />
<macro name="DHLM3" pattern="^-?[0-9]*\.?[0-9]*$" description="Position upper limit (default: 200)" defaultValue="200" hasDefault="YES" />
<macro name="DHLM4" pattern="^-?[0-9]*\.?[0-9]*$" description="Position upper limit (default: 200)" defaultValue="200" hasDefault="YES" />

<macro name="DLLM1" pattern="^-?[0-9]*\.?[0-9]*$" description="Position lower limit (default: -200)" defaultValue="-200" hasDefault="YES" />
<macro name="DLLM2" pattern="^-?[0-9]*\.?[0-9]*$" description="Position lower limit (default: -200)" defaultValue="-200" hasDefault="YES" />
<macro name="DLLM3" pattern="^-?[0-9]*\.?[0-9]*$" description="Position lower limit (default: -200)" defaultValue="-200" hasDefault="YES" />
<macro name="DLLM4" pattern="^-?[0-9]*\.?[0-9]*$" description="Position lower limit (default: -200)" defaultValue="-200" hasDefault="YES" />

<macro name="NAME1" pattern="^[\x20-\x7E]*$" description="Name used to identify the motor" hasDefault="UNKNOWN" />
<macro name="NAME2" pattern="^[\x20-\x7E]*$" description="Name used to identify the motor" hasDefault="UNKNOWN" />
<macro name="NAME3" pattern="^[\x20-\x7E]*$" description="Name used to identify the motor" hasDefault="UNKNOWN" />
<macro name="NAME4" pattern="^[\x20-\x7E]*$" description="Name used to identify the motor" hasDefault="UNKNOWN" />

<macro name="OFST1" pattern="-?[0-9]*\.?[0-9]*$" description="Motor offset (default: 0)" defaultValue="0" hasDefault="YES" />
<macro name="OFST2" pattern="-?[0-9]*\.?[0-9]*$" description="Motor offset (default: 0)" defaultValue="0" hasDefault="YES" />
<macro name="OFST3" pattern="-?[0-9]*\.?[0-9]*$" description="Motor offset (default: 0)" defaultValue="0" hasDefault="YES" />
<macro name="OFST4" pattern="-?[0-9]*\.?[0-9]*$" description="Motor offset (default: 0)" defaultValue="0" hasDefault="YES" />

</macros>
<pvsets>
</pvsets>
</config_part>
</ioc_config>
