<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
	<ioc_desc>Muon Separator PSU</ioc_desc>
	<ioc_details>Detailed status of PSU</ioc_details>
	<macros>
		<macro name="DAQ_AI_PORT_NAME" pattern="^[a-zA-Z0-9_-]+$" description="Port name for AI DAQ Port. Defaults to cDAQ9185-MUONFEMod3" />
		<macro name="DAQ_AO_PORT_NAME" pattern="^[a-zA-Z0-9_-]+$" description="Port name for AO DAQ Port. Defaults to cDAQ9185-MUONFEMod4" />
		<macro name="FREQ" pattern="^[0-9]+$" description="Sample rate in Hz for reading separator voltage and current. Defaults to 1000" />
		<macro name="NELM" pattern="^[0-9]+$" description="Number of samples read from separator voltage and current. Defaults to 100" />
	</macros>
	<pvsets>
	
	</pvsets>
</config_part>
</ioc_config>
