<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
    <ioc_desc>Muon Separator PSU</ioc_desc>
    <ioc_details>Detailed status of PSU</ioc_details>
    <macros>
        <macro name="PORT" pattern="^COM[0-9]+$" description="Serial COM port" />
        <macro name="NELM" pattern="^[0-9]+$" description="Number of elements in sample data. Defaults to 1000" />
        <macro name="FREQ" pattern="^[0-9]+$" description="Sample acquisition frequency. Defaults to 1000"/>
        <macro name="VUPPERLIM" pattern="^[.0-9]+$" description="Voltage stability upper limit"/>
        <macro name="VLOWERLIM" pattern="^[.0-9]+$" description="Voltage stability lower limit"/>
        <macro name="POWER_MIN_VOLT" pattern="^[0-9]+$" description="Voltage value (in kV) to determine when the separator is off. Defaults to 2" />
        <macro name="ISTEADY" pattern="^[.0-9]+$" description="Nominal stable current value"/>
        <macro name="ILIMIT" pattern="^[.0-9]+$" description="Current stability tolerance"/>
        <macro name="WINDOWSIZE" pattern="^[0-9]+$" description="Number of seconds in moving window. Defaults to 600"/>
        <macro name="MAXUNSTBL" pattern="^[0-9]+$" description="Maximum number of seconds allowed out of stability before alarm. Defaults to 30"/>
    </macros>
    <pvsets>

    </pvsets>
</config_part>
</ioc_config>
