<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>Cybaman manipulator</ioc_desc>
<macros>
<xi:include href="../../../COMMON/PORT.xml" />
<macro name="BAUD" pattern="^[0-9]+$" description="Serial communication baud rate, defaults to 38400." defaultValue="38400" hasDefault="YES" />
<xi:include href="../../../COMMON/BITS8.xml" />
<xi:include href="../../../COMMON/PARITYNONE.xml" />
<xi:include href="../../../COMMON/STOP1.xml" />
</macros>
</config_part>
</ioc_config>
