<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>The IOC for a Mezei spin flipper</ioc_desc>
<ioc_details>The IOC for a Mezei spin flipper</ioc_details>
<macros>
<macro name="HOST" pattern=".*" description="IP Address or computer name to connect to" />
</macros>
<pvsets>
</pvsets>
</config_part>
</ioc_config>
