# this is processed by jenkins_build.bat produce db\build-id.db

record(stringin, "$(P)CS:VERSION:BUILD:ID") 
{
	field(DESC, "Control program build id")
	field(VAL, "BUILD_ID")
}

record(stringin, "$(P)CS:VERSION:BUILD:NAME") 
{
	field(DESC, "Control program build name")
	field(VAL, "JOB_NAME")
}

record(stringin, "$(P)CS:VERSION:BUILD:NUMBER") 
{
	field(DESC, "Control program build number")
	field(VAL, "BUILD_NUMBER")
}

record(stringin, "$(P)CS:VERSION:BUILD:TIMESTAMP") 
{
	field(DESC, "Control program build timestamp")
	field(VAL, "BUILD_TIMESTAMP")
}
