record(ao, "$(P)$(Q):SP")
{
   field(DESC, "$(DESC)")  
   field(DTYP, "Soft Channel")
   field(PINI, "YES")
   field(FLNK, "$(P)$(Q):SEND")
   field(EGU, "$(UNITS)")
   field(OMSL, "supervisory")
   field(PREC, 3)
   info(autosaveFields, "VAL")
}
alias("$(P)$(Q):SP", "$(P)$(Q)")

# aSub records must read from links, hence need to create a record 
# to store data type string for above ao record
record(stringout, "$(P)$(Q):TYPE")
{
   field(DESC, "$(DESC) data type")  
   field(DTYP, "Soft Channel")
   field(VAL, "DOUBLE")
}

## Send parameter to ICP.
## $(DESC) must match the parameter name as used within the ISISICP
## NOVA below must match with output DAE waveform size (see substitutions)
record(aSub, "$(P)$(Q):SEND")
{
    field(DESC, "Send $(DESC) to ICP")  
    field("SNAM", "stringConcatWithCtrlB")
    field("FTA", "STRING")
    field("INPA", "$(P)$(Q):SP.DESC NPP NMS")
    field("FTB", "STRING")
    field("INPB", "$(P)$(Q):TYPE.VAL NPP NMS")
    field("FTC", "STRING")
    field("INPC", "$(P)$(Q):SP.EGU NPP NMS")
    field("FTD", "DOUBLE")
    field("NOD", "1")
    field("INPD", "$(P)$(Q):SP.VAL NPP NMS")
    field("FTVA", "CHAR")
    field("NOVA", "512")
    field("OUTA", "$(P)$(OUT)")
}

