# this is processed by SubWCRev.exe via get_svn_revision.bat to produce db\svn-revision.db

record(stringin, "$(P)CS:VERSION:SVN:REV") 
{
	field(DESC, "Control program SVN version")
	field(VAL, "$WCREV$")
}

record(stringin, "$(P)CS:VERSION:SVN:DATE") 
{
	field(DESC, "Control program SVN version")
	field(VAL, "$WCDATE$")
}

