# this is processed by get_git_revision.bat (formerly get_svn_revision.bat) to produce db\svn-revision.db

record(stringin, "$(P)CS:VERSION:SVN:REV") 
{
	field(DESC, "Control program revision")
	field(VAL, "11.0.0.$WCREV$")
}

record(stringin, "$(P)CS:VERSION:SVN:DATE") 
{
	field(DESC, "Control program revision date")
	field(VAL, "$WCDATE$")
}

