# % macro, P, device prefix
# % macro, INDEX, user variable index number

## User settable integer
record (longin, "$(P)PARS:USER:I$(INDEX)") 
{
	field(DESC, "User Integer")
	field(SCAN, "Passive")
	field(DTYP, "Soft Channel")
    info(archive, "VAL")
    info(autosaveFields, "VAL EGU DESC")
	info(INTEREST, "MEDIUM")
}

## User settable real
record (ai, "$(P)PARS:USER:R$(INDEX)") 
{
	field(DESC, "User Real")
	field(SCAN, "Passive")
	field(DTYP, "Soft Channel")
	field(PREC, 3)
    info(archive, "VAL")
    info(autosaveFields, "VAL EGU DESC")
	info(INTEREST, "MEDIUM")
}

## User settable string
record (stringin, "$(P)PARS:USER:S$(INDEX)") 
{
	field(DESC, "User String")
	field(DTYP, "Soft Channel")
	field(SCAN, "Passive")
    info(archive, "VAL")
    info(autosaveFields, "VAL DESC")
	info(INTEREST, "MEDIUM")
}
