<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>Triton Dilution Fridge</ioc_desc>
<macros>
<macro name="IPADDR" pattern="^.*$" description="IP address to connect to." />
<macro name="IPPORT" pattern="^[0-9]+$" description="Port to connect to (defaults to 33576)." />
</macros>
<pvsets>
</pvsets>
</config_part>
</ioc_config>
