<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>ISIS IBEX T-Jump System</ioc_desc>
<macros>
<macro name="TJMPER_IOC_ID" pattern="^[0-9]{2,}$" description="The ID number of the T-Jumper to use." defaultValue="01" hasDefault="YES" />
<macro name="BLOCK_1_TEMP_CONTROLLER" pattern="^.*$" description="The Block 1 temperature controller." defaultValue="EUROTHRM_01:A01" hasDefault="YES" />
<macro name="BLOCK_2_TEMP_CONTROLLER" pattern="^.*$" description="The Block 2 temperature controller." defaultValue="JULABO_01" hasDefault="YES" />
<macro name="SAMPLE_TEMP_READBACK" pattern="^.*$" description="The controller for temperature readback from the sample." defaultValue="EUROTHRM_01:A01" hasDefault="YES" />
<macro name="CALIBRATION_FOLDER" pattern="^.*$" description="The location of the T-Jump calibrations." hasDefault="NO" />
</macros>
<pvsets>
</pvsets>
</config_part>
</ioc_config>
