<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>Twincat </ioc_desc>
<macros>
<macro name="TPY_FILE" pattern="^.+$" description="Path to the .tpy file describing the PLC" hasDefault="NO"/>
<macro name="MTRCTRL" pattern="^[0-9]{1,2}$" description="Controller number used in motor address assignment" hasDefault="NO"/>
<macro name="PLC_VERSION" pattern="^[0|1]$" description="The PLC version to communicate with: 0 for the old ISIS code and 1 new collaboration code" defaultValue="0" hasDefault="YES" />
</macros>
</config_part>
</ioc_config>
