<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>Schneider PLC</ioc_desc>
<macros>
<macro name="MODE" pattern="^(TCP|RTU|ASCII)$" description="Modbus connection mode (TCP, RTU or ASCII)" hasDefault="UNKNOWN" />
<macro name="PORT" pattern="^COM[0-9]+$" description="Serial COM Port (for RTU or ASCII)" hasDefault="UNKNOWN" />
<macro name="IPADDR" pattern="^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$" description="IP Address (for TCP)" hasDefault="UNKNOWN" />
<macro name="IPPORT" pattern="^[0-9]+$" description="Modbus TCP Port (default: 502)" defaultValue="502" hasDefault="YES" />
</macros>
</config_part>
</ioc_config>
