<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>Ocean Optics DH-2000 BAL shutter control</ioc_desc>
<ioc_details>Shutter control for DH-2000 light source</ioc_details>
<macros>
    <macro name="PORT" pattern="^COM[0-9]+$" description="Serial COM Port" hasDefault="NO" />
</macros>
<pvsets>
</pvsets>
</config_part>
</ioc_config>
