<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
 <config_part>
  <ioc_desc>Neocera LTC21 Temperature Controller</ioc_desc>
  <ioc_details>https://github.com/ISISComputingGroup/ibex_developers_manual/wiki/Neocera-LTC-21</ioc_details>
  <macros>
    <xi:include href="../../../COMMON/PORT.xml" />
    <xi:include href="../../../COMMON/BAUD9600.xml" />
  </macros>
 </config_part>
</ioc_config>