<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<macros>
<macro name="PORT" pattern="^COM[0-9]+$" description="Serial COM Port" />
<macro name="CALIBRATED" pattern="^(0|1)$" description="Toggle calibration" />
<macro name="CFILE" description="Name of calibration file" />
<macro name="CPATH" description="Location of calibration file" />
</macros>
</config_part>
</ioc_config>
