<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>Galil motor controller</ioc_desc>
<ioc_details>Galil Motor Details</ioc_details>
<macros>
<macro name="GALILADDR" pattern="^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$" description="IP address of Galil controller (MTR01* PVs)" hasDefault="NO" />
<macro name="MTRCTRL" pattern="^[0-9]{1,2}$" description="Controller number used in motor address assignment" hasDefault="NO" />
<macro name="ENCAVNSAMP" pattern="^[0-9]+$" description="Number of encoder values to average over if using soft readback" defaultValue="10" hasDefault="YES" />
</macros>
<pvsets>
<pvset name="Motor Limits" description="Motor high and low limits" />
</pvsets>
</config_part>
</ioc_config>
