<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>JASCO PU-4180 Pump</ioc_desc>
<ioc_details>JASCO PU-4180 high performance liquid chromatography pump.</ioc_details>
<macros>
<macro name="PORT" pattern="^COM[0-9]+$" description="Serial COM port" />
</macros>
<pvsets>
</pvsets>
</config_part>
</ioc_config>
