<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>Julabo water/oil bath</ioc_desc>
<macros>
<macro name="PORT" pattern="^COM[0-9]+$" description="Serial COM Port" hasDefault="NO" />
<macro name="READ_POWER_CMD_NUMBER" pattern="^[0-9]+$" description="Command number for reading power. The prefix 'IN_PV_' is added automatically. Defaults to 01" defaultValue="01" hasDefault="YES" />
<macro name="READ_EXT_TEMP_CMD_NUMBER" pattern="^[0-9]+$" description="Command number for reading external temperature. The prefix 'IN_PV_' is added automatically. Defaults to 02" defaultValue="02" hasDefault="YES" />
<macro name="READ_HIGH_LIM_CMD_NUMBER" pattern="^[0-9]+$" description="Command number for reading the high limit. The prefix 'IN_SP_' is added automatically. Defaults to 01" defaultValue="01" hasDefault="YES" />
<macro name="READ_LOW_LIM_CMD_NUMBER" pattern="^[0-9]+$" description="Command number for reading the low limit. The prefix 'IN_SP_' is added automatically. Defaults to 02" defaultValue="02" hasDefault="YES" />
<macro name="HARDFLOWCNTL" pattern="^Y|N$" description="Hardware serial communication flow control (RTS/CTS), defaults to N." defaultValue="N" hasDefault="YES" />
<macro name="SOFTFLOWCNTL" pattern="^Y|N$" description="Software serial communication flow control (XON/XOFF) defaults to N." defaultValue="N" hasDefault="YES" />
<macro name="OEOS" pattern="^(\\\\r)?(\\\\n)?$" description="Output end of string. Needs slashes escaping - e.g. set to \\r\\n to set terminator to CR LF. Defaults to \\r\\n (CR LF)" defaultValue="\\r\\n" hasDefault="YES" />
<macro name="IEOS" pattern="^(\\\\r)?(\\\\n)?$" description="Input end of string. Needs slashes escaping - e.g. set to \\r\\n to set terminator to CR LF. Defaults to \\r (CR)" defaultValue="\\r" hasDefault="YES" />
</macros>
</config_part>
</ioc_config>
