<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>Metrolab PT2025 NMR Teslameter</ioc_desc>
<ioc_details>NMR Teslameter PT2025</ioc_details>
<macros>
<macro name="PORT" pattern="^COM[0-9]+$" description="Serial COM port" hasDefault="NO"/>
<macro name="BAUD" pattern="^[0-9]+$" description="Serial communication baud rate, defaults to 9600." defaultValue="9600" hasDefault="YES" />
<macro name="BITS" pattern="^[0-9]$" description="Serial communication number of data bits, defaults to 8." defaultValue="8" hasDefault="YES" />
<macro name="PARITY" pattern="^(even|odd|none)$" description="Serial communication parity, defaults to none." defaultValue="none" hasDefault="YES" />
<macro name="STOP" pattern="^[0-9]$" description="Serial communication stop bits, defaults to 1." defaultValue="1" hasDefault="YES" />
</macros>
<pvsets>
</pvsets>
</config_part>
</ioc_config>
