<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>IOC for the Keyence TM-3001P Optical Micrometer controller</ioc_desc>
<ioc_details>Keyence TM-3001P details</ioc_details>
<macros>
    <macro name="PORT" pattern="^COM[0-9]+$" description="Serial COM port" hasDefault="NO" />
    <macro name="DISCHAN01" pattern="#?" description="Disables alarms for channel 01, defaults to blank" defaultValue="blank" hasDefault="YES" />
    <macro name="DISCHAN02" pattern="#?" description="Disables alarms for channel 02, defaults to blank" defaultValue="blank" hasDefault="YES" />
    <macro name="DISCHAN03" pattern="#?" description="Disables alarms for channel 03, defaults to blank" defaultValue="blank" hasDefault="YES" />
    <macro name="DISCHAN04" pattern="#?" description="Disables alarms for channel 04, defaults to blank" defaultValue="blank" hasDefault="YES" />
    <macro name="DISCHAN05" pattern="#?" description="Disables alarms for channel 05, defaults to blank" defaultValue="blank" hasDefault="YES" />
    <macro name="DISCHAN06" pattern="#?" description="Disables alarms for channel 06, defaults to blank" defaultValue="blank" hasDefault="YES" />
    <macro name="DISCHAN07" pattern="#?" description="Disables alarms for channel 07, defaults to blank" defaultValue="blank" hasDefault="YES" />
    <macro name="DISCHAN08" pattern="#?" description="Disables alarms for channel 08, defaults to blank" defaultValue="blank" hasDefault="YES" />
    <macro name="DISCHAN09" pattern="#?" description="Disables alarms for channel 09, defaults to blank" defaultValue="blank" hasDefault="YES" />
    <macro name="DISCHAN10" pattern="#?" description="Disables alarms for channel 10, defaults to blank" defaultValue="blank" hasDefault="YES" />
    <macro name="DISCHAN11" pattern="#?" description="Disables alarms for channel 11, defaults to blank" defaultValue="blank" hasDefault="YES" />
    <macro name="DISCHAN12" pattern="#?" description="Disables alarms for channel 12, defaults to blank" defaultValue="blank" hasDefault="YES" />
    <macro name="DISCHAN13" pattern="#?" description="Disables alarms for channel 13, defaults to blank" defaultValue="blank" hasDefault="YES" />
    <macro name="DISCHAN14" pattern="#?" description="Disables alarms for channel 14, defaults to blank" defaultValue="blank" hasDefault="YES" />
    <macro name="DISCHAN15" pattern="#?" description="Disables alarms for channel 15, defaults to blank" defaultValue="blank" hasDefault="YES" />
    <macro name="DISCHAN16" pattern="#?" description="Disables alarms for channel 16, defaults to blank" defaultValue="blank" hasDefault="YES" />
    <macro name="CHAN_EGU01" pattern="^.*$" description="Measurement units for channel 01, defaults to mm" defaultValue="mm" hasDefault="YES" />
    <macro name="CHAN_EGU02" pattern="^.*$" description="Measurement units for channel 02, defaults to mm" defaultValue="mm" hasDefault="YES" />
    <macro name="CHAN_EGU03" pattern="^.*$" description="Measurement units for channel 03, defaults to mm" defaultValue="mm" hasDefault="YES" />
    <macro name="CHAN_EGU04" pattern="^.*$" description="Measurement units for channel 04, defaults to mm" defaultValue="mm" hasDefault="YES" />
    <macro name="CHAN_EGU05" pattern="^.*$" description="Measurement units for channel 05, defaults to mm" defaultValue="mm" hasDefault="YES" />
    <macro name="CHAN_EGU06" pattern="^.*$" description="Measurement units for channel 06, defaults to mm" defaultValue="mm" hasDefault="YES" />
    <macro name="CHAN_EGU07" pattern="^.*$" description="Measurement units for channel 07, defaults to mm" defaultValue="mm" hasDefault="YES" />
    <macro name="CHAN_EGU08" pattern="^.*$" description="Measurement units for channel 08, defaults to mm" defaultValue="mm" hasDefault="YES" />
    <macro name="CHAN_EGU09" pattern="^.*$" description="Measurement units for channel 09, defaults to mm" defaultValue="mm" hasDefault="YES" />
    <macro name="CHAN_EGU10" pattern="^.*$" description="Measurement units for channel 10, defaults to mm" defaultValue="mm" hasDefault="YES" />
    <macro name="CHAN_EGU11" pattern="^.*$" description="Measurement units for channel 11, defaults to mm" defaultValue="mm" hasDefault="YES" />
    <macro name="CHAN_EGU12" pattern="^.*$" description="Measurement units for channel 12, defaults to mm" defaultValue="mm" hasDefault="YES" />
    <macro name="CHAN_EGU13" pattern="^.*$" description="Measurement units for channel 13, defaults to mm" defaultValue="mm" hasDefault="YES" />
    <macro name="CHAN_EGU14" pattern="^.*$" description="Measurement units for channel 14, defaults to mm" defaultValue="mm" hasDefault="YES" />
    <macro name="CHAN_EGU15" pattern="^.*$" description="Measurement units for channel 15, defaults to mm" defaultValue="mm" hasDefault="YES" />
    <macro name="CHAN_EGU16" pattern="^.*$" description="Measurement units for channel 16, defaults to mm" defaultValue="mm" hasDefault="YES" />
</macros>
<pvsets>
</pvsets>
</config_part>
</ioc_config>
