<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>FZJ Fermi chopper</ioc_desc>
<macros>
<xi:include href="../../../COMMON/PORT.xml" />
<xi:include href="../../../COMMON/BAUD9600.xml" />
<xi:include href="../../../COMMON/BITS8.xml" />
<xi:include href="../../../COMMON/PARITYNONE.xml" />
<xi:include href="../../../COMMON/STOP1.xml" />
<macro name="INST" pattern="^(merlin)|(maps)$" description="Instrument (affects communication protocol). Defaults to merlin." defaultValue="merlin" hasDefault="YES" />
<macro name="MHZ" pattern="^[0-9]*\.?[0-9]*$" description="Chopper crystal frequency in MHz. Should be 50.4 on merlin and 18.0 on maps. Defaults to 50.4." defaultValue="50.4" hasDefault="YES" />
</macros>
</config_part>
</ioc_config>
