<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>PEARLPC Pressure Control</ioc_desc>
<ioc_details>PEARLPC Pressure Control</ioc_details>
<macros>
    <macro name="PORT" pattern="^COM[0-9]+$" description="Serial COM Port" hasDefault="NO" />
    <macro name="USER_LIMIT" pattern="^[0-9]+$" description="User pressure limit" hasDefault="YES" defaultValue="1020" />
    <macro name="LIMITS_NEG_OFFSET" pattern="^[0-9]$" description="Negative history offset" hasDefault="YES" defaultValue="0" />
    <macro name="LIMITS_NEG_CHANGE" pattern="^[0-9]+$" description="Negative direction error" hasDefault="YES" defaultValue="20" />
    <macro name="LIMITS_POS_OFFSET" pattern="^[0-9]$" description="Positive history offset" hasDefault="YES" defaultValue="0" />
    <macro name="LIMITS_POS_CHANGE" pattern="^[0-9]+$" description="Positive direction error" hasDefault="YES" defaultValue="20" />
</macros>
<pvsets>
</pvsets>
</config_part>
</ioc_config>
