<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>Edwards Turbo Instrument Controller (TIC)</ioc_desc>
<macros>
<xi:include href="../../../COMMON/PORT.xml" />
<xi:include href="../../../COMMON/BAUD9600.xml" />
<xi:include href="../../../COMMON/BITS8.xml" />
<xi:include href="../../../COMMON/PARITYNONE.xml" />
<xi:include href="../../../COMMON/STOP1.xml" />
<macro name="USEGAUGE1" pattern="^(YES|NO)$" description="YES if gauge 1 is in use, defaults to NO" hasDefault="YES" defaultValue="NO"/>
<macro name="USEGAUGE2" pattern="^(YES|NO)$" description="YES if gauge 2 is in use, defaults to NO" hasDefault="YES" defaultValue="NO"/>
<macro name="USEGAUGE3" pattern="^(YES|NO)$" description="YES if gauge 3 is in use, defaults to NO" hasDefault="YES" defaultValue="NO"/>
</macros>
</config_part>
</ioc_config>
