record(ai, "$(P)PRESSURE_$(CHAN)")
{
    field(DESC, "Pressure of $(CHAN)")
    field(SCAN, "1 second")
    field(DTYP, "stream")
    field(INP,  "@devTPG300.proto getPressure(P$(CHAN)) $(PORT)")
    field(PREC, "3")
    field(SIML, "$(P)SIM")
    field(SIOL, "$(P)SIM:PRESSURE")
    field(SDIS, "$(P)DISABLE")
	info(archive, "VAL")
    info(INTEREST, "HIGH")
    field(EGU, "")
    $(IFTEST) info(alarm, "Pressure $(CHAN)")
}

## Visible PVs have initial value set to 0 if the channel is off,
## or 1 when the channel is on and the VAL field is uncommented

record(bo, "$(P)PRESSURE_$(CHAN):VISIBLE")
{
    field(SCAN, "Passive")
    field(DTYP, "Soft Channel")
    field(ZNAM, "NO")
    field(ONAM, "YES")
    field(PINI, "YES")
    $(IFTEST) field(VAL, "1")
}
