record(mbbi, "$(P)VALVES:V$(VALVE):STATE")
{
    field(DESC, "Valve state of V$(VALVE)")
    field(DTYP, "stream")
    field(SCAN, "1 second")
    field(INP, "@devtriton.proto getValveState($(VALVE)) $(PORT)")
	
	field(ZRST, "OPEN")
	field(ZRVL, "0")
	
	field(ONST, "CLOSED")
	field(ONVL, "1")
	
	field(TWST, "NOT_FOUND")
	field(TWVL, "2")
	
	field(SIML, "$(P)SIM")
    field(SIOL, "$(P)SIM:VALVES:V$(VALVE):STATE")
    field(SDIS, "$(P)DISABLE")
}


#
# Simulation record
#


record(mbbi, "$(P)SIM:VALVES:V$(VALVE):STATE")
{
    field(VAL, "0")
	field(PINI, "YES")
}

