record(ao, "$(P)$(CTRL):SP")
{
    field(DTYP, "stream")
    field(OUT, "@devtriton.proto set$(CTRL)($(P)) $(PORT)")
}

record(ai, "$(P)$(CTRL)")
{
    field(DTYP, "stream")
    field(INP, "@devtriton.proto get$(CTRL)($(P)) $(PORT)")
    field(SCAN, "1 second") 
}

