record(ao, "$(P)$(CTRL):SP")
{
    field(DESC, "$(CTRL) Setpoint")
    field(DTYP, "stream")
    field(OUT, "@devtriton.proto set$(CTRL)($(P)) $(PORT)")
	field(PREC, "3")
	field(EGU, "")
	
	field(SIML, "$(P)SIM")
    field(SIOL, "$(P)SIM:$(CTRL):SP")
    field(SDIS, "$(P)DISABLE")
}

record(ai, "$(P)$(CTRL)")
{
    field(DESC, "$(CTRL)")
    field(DTYP, "stream")
    field(INP, "@devtriton.proto get$(CTRL)($(P)) $(PORT)")
    field(SCAN, "$(POLL_RATE)")
    field(PREC, "3")	
    field(EGU, "")
	
	info(INTEREST, "HIGH")
	info(archive, "VAL")
	
	field(SIML, "$(P)SIM")
    field(SIOL, "$(P)SIM:$(CTRL)")
    field(SDIS, "$(P)DISABLE")
}

#
# Simulation records
#

record(ao, "$(P)SIM:$(CTRL):SP")
{	
}

alias("$(P)SIM:$(CTRL):SP", "$(P)SIM:$(CTRL)")
