record(stringin, "$(P)$(CHAN):UID")
{
    field(DESC, "Unique ID of $(CHAN)")
    field(DTYP, "stream")
    field(INP, "@devtriton.proto get$(CHAN)Uid $(PORT)")
    
    field(PINI, "YES")
    field(SCAN, "1 second") 
	
	$(IFFLNK) field(FLNK, "$(P)HEATER:TYPE") # Forward link to Heater type iff this is the MC channel.
}

record(ai, "$(P)$(CHAN):TEMP")
{
    field(DTYP, "stream")
    field(INP, "@devtriton.proto get$(CHAN)Temp($(P)) $(PORT)")
    field(SCAN, "1 second")
}
