<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
    <config_part>
        <ioc_desc>Keithley 2001 Digital Multimeter</ioc_desc>
        <macros>
            <macro name="GPIBSTR" pattern="^.*$" description="GPIB connection string, defaults to GPIB0::3::INSTR" />
        </macros>
        <pvsets />
    </config_part>
</ioc_config>
