<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>ISIS MK2 Chopper</ioc_desc>
<macros>
<macro name="PORT" pattern="^COM[0-9]+$" description="Serial COM port" />
<macro name="BAUD" pattern="^[0-9]+$" description="Baud rate (default: 9600)" />
<macro name="PARITY" pattern="^(even|odd)$" description="Parity (default: even)" />
</macros>
</config_part>
</ioc_config>
