<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>Mercury cryostat</ioc_desc>
<macros>
<!-- check st-port.cmd for defaults -->
<macro name="PORT" pattern="^COM[0-9]+$" description="Serial COM Port" hasDefault="NO" />
<macro name="TEMP_1" pattern="^[A-Z0-9]+$" description="Card identifier for Temperature 1 (e.g. MB1). Blank for no controller." hasDefault="YES" defaultValue=""/>
<macro name="TEMP_2" pattern="^[A-Z0-9]+$" description="Card identifier for Temperature 2 (e.g. MB1). Blank for no controller." hasDefault="YES" defaultValue="" />
<macro name="TEMP_3" pattern="^[A-Z0-9]+$" description="Card identifier for Temperature 3 (e.g. MB1). Blank for no controller." hasDefault="YES" defaultValue="" />
<macro name="TEMP_4" pattern="^[A-Z0-9]+$" description="Card identifier for Temperature 4 (e.g. MB1). Blank for no controller." hasDefault="YES" defaultValue="" />
<macro name="LEVEL_1" pattern="^[A-Z0-9]+$" description="Card identifier for Level 1 (e.g. DB1). Blank for no controller." hasDefault="YES" defaultValue="" />
<macro name="LEVEL_2" pattern="^[A-Z0-9]+$" description="Card identifier for Level 2 (e.g. DB1). Blank for no controller." hasDefault="YES" defaultValue="" />
<macro name="PRESSURE_1" pattern="^[A-Z0-9]+$" description="Card identifier for Pressure 1 (e.g. DB1). Blank for no controller." hasDefault="YES" defaultValue="" />
<macro name="PRESSURE_2" pattern="^[A-Z0-9]+$" description="Card identifier for Pressure 2 (e.g. DB1). Blank for no controller." hasDefault="YES" defaultValue="" />
</macros>
</config_part>
</ioc_config>
