<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
<ioc_desc>Coherent OBIS Laser Remote</ioc_desc>
<ioc_details></ioc_details>
<macros>
<xi:include href="../../../COMMON/PORT.xml" />
<macro name="ADDR1" pattern="^[0-9]*$" description="Address of laser 1"  hasDefault="YES" defaultValue="" />
<macro name="ADDR2" pattern="^[0-9]*$" description="Address of laser 2"  hasDefault="YES" defaultValue="" />
<macro name="ADDR3" pattern="^[0-9]*$" description="Address of laser 3"  hasDefault="YES" defaultValue="" />
<macro name="ADDR4" pattern="^[0-9]*$" description="Address of laser 4"  hasDefault="YES" defaultValue="" />
<macro name="ADDR5" pattern="^[0-9]*$" description="Address of laser 5"  hasDefault="YES" defaultValue="" />
</macros>
<pvsets>
</pvsets>
</config_part>
</ioc_config>
