<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
 <config_part>
  <ioc_desc>Reflectometry Server</ioc_desc>
  <ioc_details>Reflectometry Server bla</ioc_details>
  <macros>
    <macro name="CONFIG_FILE" pattern="^[\w\-]+\.py$" description="Reflectometry configuration to use. Default is config.py" defaultValue="config.py" hasDefault="YES" />
    <macro name="OPTIONAL_1" pattern="^0|1$" description="Boolean flag 1 for use inside reflectometry configuration." defaultValue="0" hasDefault="YES" />
    <macro name="OPTIONAL_2" pattern="^0|1$" description="Boolean flag 2 for use inside reflectometry configuration." defaultValue="0" hasDefault="YES" />
    <macro name="OPTIONAL_3" pattern="^0|1$" description="Boolean flag 3 for use inside reflectometry configuration." defaultValue="0" hasDefault="YES" />
    <macro name="OPTIONAL_4" pattern="^0|1$" description="Boolean flag 4 for use inside reflectometry configuration." defaultValue="0" hasDefault="YES" />
  </macros>
 </config_part>
</ioc_config>
