<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
 <config_part>
  <ioc_desc>Coordinator</ioc_desc>
  <ioc_details>Coordinates values from different IOCs using a state machine.</ioc_details>
  <macros>
    <macro name="IFRIKEN" pattern="^( )|(#)$" description="Space if on RIKEN beamline, # otherwise. (Default='#')" />
    <macro name="RIKEN_PC_IN" pattern="^.*$" description="RIKEN port change input PV. Prefix added automatically." />
    <macro name="RIKEN_PC_OUT" pattern="^.*$" description="RIKEN port change output PV. Prefix added automatically." />
    <macro name="RIKEN_RB2C_IN" pattern="^.*$" description="RIKEN RB2 mode change input PV. Prefix added automatically." />
    <macro name="RIKEN_RB2C_OUT" pattern="^.*$" description="RIKEN RB2 mode change output PV. Prefix added automatically." />
  </macros>
 </config_part>
</ioc_config>
