<?xml version="1.0" ?>
<ioc_config xmlns:xi="http://www.w3.org/2001/XInclude">
<config_part>
    <ioc_desc>Zero Field Controller Field Strength</ioc_desc>
    <ioc_details>Reads and corrects magnetometer measurement</ioc_details>
    <macros>
        <macro name="OFFSET_X" pattern="^[.0-9]+$" description="X component of measured field offset" hasDefault="NO" />
        <macro name="OFFSET_Y" pattern="^[.0-9]+$" description="Y component of measured field offset" hasDefault="NO" />
        <macro name="OFFSET_Z" pattern="^[.0-9]+$" description="Z component of measured field offset" hasDefault="NO" />
        <macro name="RANGE" pattern="^[.0-9]+$" description="Range of the magnetometer" defaultValue="1" hasDefault="YES" />
        <macro name="DAQ_NAME" pattern="^[a-zA-Z0-9_-]+$" description="Port name for AI DAQ Port. Defaults to cDAQ9185-MUONFEMod3" defaultValue="cDAQ9185-MUONFEMod3" hasDefault="YES" />

    </macros>
    <pvsets>

    </pvsets>
</config_part>
</ioc_config>
